.color-black .required,
.color-black a:hover, 
.color-black header p.title a:hover,
.color-black .directory h2 a:hover {color: #3f3f3f;}
.color-black header>section.top nav>ul>li.current-menu-item>a,
.color-black header>section.top nav>ul>li.current-menu-ancestor>a, 
.color-black header>section.top nav>ul>li.current-menu-item:hover>a,
.color-black header>section.top nav>ul>li.current-menu-ancestor:hover>a {background: #3f3f3f; color: #fff;}
.color-black header .top ul ul a {color: #3f3f3f;}
.color-black .main-header a {color: #3f3f3f;}
.color-black blockquote {border-left-color: #3f3f3f;}
.color-black nav.mainmenu>ul>li:hover>a {color: #3f3f3f;}
.color-black nav.mainmenu>ul>li.current-menu-item>a,
.color-black nav.mainmenu>ul>li.current-menu-ancestor>a {color: #3f3f3f;}
.color-black.t03 h2.underline, .color-black h2 span, .color-black h2:first-child span, .color-black h2.underline span, .color-black h3 span, .color-black.t03 .widget h3 {border-color: #3f3f3f;}
.color-black .more a:hover {color: #3f3f3f;}
.color-black h2.alt span {border-bottom: 2px solid #3f3f3f;}
.color-black .dc-alt {color: #3f3f3f;}
.color-black ul.tabs a.selected {border: 1px solid #3f3f3f; border-bottom: 3px solid #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black a:hover .circle {border-color: #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black .wp-pagenavi span.current {color: #3f3f3f;}
.color-black .wp-pagenavi a:hover {color: #3f3f3f;}
.color-black ul.accordion li>a:before {color: #3f3f3f;}
.color-black .content-slider article h3 a:hover {color: #3f3f3f;}
.color-black ul.hp-services li h3 a:hover {color: #3f3f3f;}
.color-black .hp-recent-work article h3 a:hover {color: #3f3f3f;}
.color-black .filters ul a:hover {color: #3f3f3f;}
.color-black .filters ul a.selected {background: #3f3f3f; color: #fff;}
.color-black .portfolio article h3 a:hover {color: #3f3f3f;}
.color-black .project p.copyright a:hover {color: #3f3f3f;}
.color-black .project dl {border-left: 2px solid #3f3f3f;}
.color-black .project-nav a:hover {color: #3f3f3f;}
.color-black .postlist article h2 a:hover {color: #3f3f3f;}
.color-black .post-meta a:hover, .tags a:hover {color: #3f3f3f;}
.color-black .post-author h3 a:hover {color: #3f3f3f;}
.color-black .comment-author a:hover {color: #3f3f3f;}
.color-black .popular-objects a:hover {color: #3f3f3f;}
.color-black .events .rss-link a:hover {color: #3f3f3f;}
.color-black .events-head a:hover {color: #3f3f3f;}
.color-black .calendar td a.day:hover {color: #3f3f3f;}
.color-black .sidebar a:hover {color: #3f3f3f;}
.color-black p.progress>span.fill {background: #3f3f3f;}
.color-black .tooltip-dark {position: relative; background: #3f3f3f; color: #fff;}
.color-black table.alt th {border-bottom: 3px solid #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black .pricing-plan:hover {border-top: 2px solid #3f3f3f;}
.color-black .pricing-plan:hover p.price strong {color: #3f3f3f;}
.color-black .pricing-plan:hover h2 {color: #3f3f3f;}
.color-black table.pricing tr.action td:first-child a:hover {color: #3f3f3f;}
.color-black .why-us ul li {background-image: url("../../images/tick-black.png");}
.color-black ul.tick li {background: url("../../images/tick-black.png") 0 0 no-repeat;}
.color-black footer {padding: 25px 0 0; border-top: 1px solid #e2e2e2; background: #f2f2f2; color: #747474;}
.color-black footer a {color: #3f3f3f;}
.color-black footer a:hover {color: #747474;}
.color-black footer input {border: 1px solid #ccc;}
.color-black footer article h3 {border-bottom-color: #d7d7d7; color: #3f3f3f;}
.color-black footer article h3 span {border-bottom-color: #3f3f3f;}
.color-black footer article.widget_photos img {border-color: #fff;}

.color-black footer .social a.email {background-position: 0 0;}
.color-black footer .social a.facebook {background-position: -32px 0;}
.color-black footer .social a.twitter {background-position: -64px 0;}
.color-black footer .social a.pinterest {background-position: -96px 0;}
.color-black footer .social a.rss {background-position: -128px 0;}
.color-black footer .social a.linkedin {background-position: -160px 0;}
.color-black footer .social a.flickr {background-position: -192px 0;}
.color-black footer .social a.vimeo {background-position: -224px 0;}
.color-black footer .social a.blogger {background-position: -256px 0;}
.color-black footer .social a.tumblr {background-position: -288px 0;}
.color-black footer .social a.skype {background-position: -320px 0;}
.color-black footer .social a.behance {background-position: -352px 0;}
.color-black footer .social a.googleplus {background-position: -384px 0;}
.color-black footer .social a.youtube {background-position: -416px 0;}
.color-black footer .social a.dribble {background-position: -448px 0;}
.color-black footer .social a.instagram {background-position: -480px 0;}
.color-black footer .social a.picasa {background-position: -512px 0;}
.color-black footer .social a.github {background-position: -544px 0;}
.color-black footer .social a.stumbleupon {background-position: -576px 0;}
.color-black footer .social a.lastfm {background-position: -608px 0;}

.color-black footer .bottom {border-color: #d7d7d7;}
.color-black p.more a {color: #3f3f3f;}
.color-black p.more a:hover {color: #747474;}
@media (max-width: 980px) {
	.color-black footer {margin: 0 -20px; padding: 25px 20px 0;}
}

.color-black button[type="submit"], .color-black input[type="submit"], .color-black a.button, .color-black .pricing-plan a.button, .color-black table.pricing a.button, .color-black .directory .searchform button {border-color: #313131; border-top-color: #424242;background: #616161;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTMxMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #616161 0%, #313131 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#313131));
background: -webkit-linear-gradient(top,  #616161 0%,#313131 100%);
background: -o-linear-gradient(top,  #616161 0%,#313131 100%);
background: -ms-linear-gradient(top,  #616161 0%,#313131 100%);
background: linear-gradient(to bottom,  #616161 0%,#313131 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#313131',GradientType=0 );
color: #fff; text-shadow: 0 -1px 0 #424242;}
.color-black button[type="submit"]:hover, .color-black input[type="submit"]:hover, .color-black a.button:hover, .color-black table.pricing a.button:hover, .color-black .directory .searchform button:hover {background: #313131;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTYxNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #313131 0%, #616161 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#616161));
background: -webkit-linear-gradient(top,  #313131 0%,#616161 100%);
background: -o-linear-gradient(top,  #313131 0%,#616161 100%);
background: -ms-linear-gradient(top,  #313131 0%,#616161 100%);
background: linear-gradient(to bottom,  #313131 0%,#616161 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#616161',GradientType=0 );
color: #fff;}

.color-black .slider-pager a {background-image: url("../../images/paginator-black.png");}
.color-black .slider1 article h3 strong {color: #747474;}

.color-black header.h1 nav.mainmenu>ul>li:hover>a {color: #3f3f3f;}
.color-black header.h1 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h1 nav.mainmenu>ul>li.current-menu-ancestor>a {color: #3f3f3f;}
.color-black header.h2 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f; color: #3f3f3f;}
.color-black header.h2 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h2 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #3f3f3f; color: #3f3f3f;}
.color-black header.h3 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black header.h3 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h3 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black header.h4 nav.mainmenu>ul>li>a:active {color: #3f3f3f;}
.color-black header.h4 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h4 nav.mainmenu>ul>li.current-menu-ancestor>a {background-color: #3f3f3f; background-image: url("../../images/h4-black.png");}
.color-black header.h4 nav.mainmenu>ul>li.current-menu-item.parent,
.color-black header.h4 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/h4-black.png");}
.color-black header.h5 {border-bottom: 2px solid #3f3f3f;}
.color-black header.h5 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h5 nav.mainmenu>ul>li.current-menu-ancestor>a, 
.color-black header.h5 nav.mainmenu>ul>li:hover>a {border-bottom: 1px solid #3f3f3f; background: #3f3f3f; color: #fff;}
.color-black header.h6 {border-bottom: 2px solid #3f3f3f;}
.color-black header.h6 nav.mainmenu>ul>li.current-menu-item>a, 
.color-black header.h6 nav.mainmenu>ul>li.current-menu-ancestor>a, 
.color-black header.h6 nav.mainmenu>ul>li:hover>a {background: #3f3f3f; color: #fff;}
.color-black header.h7 nav.mainmenu>ul>li:hover>a,
.color-black header.h7 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h7 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f; color: #fff;}
.color-black header.h7 nav.mainmenu>ul>li.parent:hover,
.color-black header.h7 nav.mainmenu>ul>li.current-menu-item.parent:hover,
.color-black header.h7 nav.mainmenu>ul>li.current-menu-ancestor.parent:hover {background-image: url("../../images/dropdown-arrow-black.png");}
.color-black header.h8 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h8 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f; color: #fff;}
.color-black header.h8 nav ul ul li a:hover {color: #3f3f3f;}
.color-black header.h9 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h9 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f; color: #fff;}
.color-black header.h9 nav ul ul li a:hover {color: #3f3f3f;}
.color-black header.h10 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f;}
.color-black header.h10 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h10 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #3f3f3f; color: #fff;}
.color-black header.h11 nav.mainmenu>ul>li.current-menu-item>a, 
.color-black header.h11 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f;}
.color-black header.h12 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h12 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #3f3f3f;}
.color-black header.h13 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h13 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f;}
.color-black header.h13 nav.mainmenu>ul>li.current-menu-item.parent:hover,
.color-black header.h13 nav.mainmenu>ul>li.current-menu-ancestor.parent:hover {background-image: url("../../images/dropdown-arrow-black.png");}
.color-black header.h14 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h14 nav.mainmenu>ul>li.current-menu-ancestor>a {background-color: #3f3f3f; background-image: url("../../images/dropdown-arrow-black.png");}
.color-black header.h14 nav.mainmenu>ul>li.current-menu-item.parent,
.color-black header.h14 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/dropdown-arrow-black.png");}
.color-black header.h15 nav.mainmenu>ul>li.current-menu-item>a,
.color-black header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #3f3f3f;}
.color-black header.h15 nav.mainmenu>ul>li.current-menu-item>a:before,
.color-black header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a:before {border-color: #3f3f3f transparent transparent #3f3f3f;}
.color-black header.h15 nav.mainmenu>ul>li.current-menu-item.parent,
.color-black header.h15 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/h4-black.png");}

.color-black header .top {background: #3f3f3f; color: #fff;}
.color-black header .top a {color: #3f3f3f;}
.color-black header .top nav>ul>li>a {color: #fff;}
.color-black header .top nav>ul>li:hover>a {background: #747474; color: #fff;}
.color-black .landing-form form {border: 1px solid #dedede; background: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.3);}
.color-black .landing-form form input, .color-black .landing-form form select {border: 1px solid #ccc;}
.color-black .landing-form form label {color: #3f3f3f;}
.color-black .landing-form h2:first-child {color: #3f3f3f;}
.color-black .landing-form button {border-color: #555; border-bottom-color: #2a2a2a;}
.color-black footer button {height: 29px;}

.color-black .sticky.sticky-transparent .top {background: rgba(63,63,63,0.9);}

.color-black .columns h2:first-child span, .color-black .columns .more:first-child + h2 span, .color-black section h2:first-child span {border-color: #3f3f3f;}
.color-black .col3 h3 span, 
.color-black .home .col3 h3 span,
.color-black .divider.d2 {border-color: #3f3f3f;}
.color-black a.go-top {background-color: #3f3f3f;}
.color-black h2.t01 span {border-color: #3f3f3f;}
.color-black .content > aside h3.t01 span {border-color: #3f3f3f;}
.color-black .content > aside h3.t03 {border-color: #3f3f3f;}
.color-black h2.t03 {border-color: #3f3f3f;}
.color-black footer h3.t03 {border-color: #3f3f3f;}
.color-black ul.event-list p.date span:first-child {background-color: #3f3f3f;}
.color-black .cat-archive > section > h3:first-child {background-color: #3f3f3f;}
.color-black .cat-archive > section > h3:before {border-right-color: #000; border-top-color: #000;}
.color-black .slider7 .controls ul .active a:before {background-color: #3f3f3f;}
.color-black .content-slider.related article div div, .color-black .hp-recent-work article div div, .color-black .portfolio article div div {background: rgba(63,63,63,0.8);}
.color-black .slider8 .slider-pager a {background-image: url("../../images/paginator.png");}
.color-black .slider12 .slider-pager a {background-image: url("../../images/paginator-slider12.png");}
.color-black .latest h3 a:hover {color: #3f3f3f;}
.color-black .col4 h3 a:hover, .color-black .col3 h3 a:hover {color: #3f3f3f;}
.color-black .col2 h2 a:hover {color: #3f3f3f;}
.color-black .intro h1 strong {color: #3f3f3f;}
.color-black .slider5 h2 strong {color: #3f3f3f;}
.color-black .cat-archive ul li a:hover {color: #3f3f3f;}
.color-black .slider9 .slider-titles a:hover {color: #fff;}
.color-black .product-list-full ul li h3 a:hover {color: #3f3f3f;}
.color-black .pricing-plan:hover p.price strong, .color-black .pricing-plan.selected p.price strong {color: #3f3f3f;}
.color-black .pricing-plan:hover h2, .color-black .pricing-plan.selected h2 {color: #3f3f3f;}
.color-black .pricing-plan.selected {border-top: 2px solid #3f3f3f;}
.color-black .sidebar .widget > div > ul.menu li.current-menu-item>a, 
.color-black .sidebar .widget > div > ul.menu li.current_page_item>a,
.color-black .sidebar .widget.menu > ul li.current-menu-item > a {background-color: #3f3f3f;}
.color-black .404 button {background: #fff url("../../images/search-large.png") no-repeat scroll 50% 50% #FFFFFF;}
.color-black .post-meta a.comment-link {background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="11px"><g><g><polygon fill="%233f3f3f" points="0,0 0,8 2,8 2,11 3,11 3,10 4,10 4,9 5,9 5,8 10,8 10,0"/></g></g></svg>');}
.color-black a.btn:hover {color:#fff;}
.color-black a.btn.light-black:hover {color:#555;}
.color-black .e404 button, .color-black .e404 button:hover, .color-black .searchform button, .color-black .searchform button:hover {background: url("../../images/search-large.png") no-repeat scroll 50% 50% #FFFFFF;}
