@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
	.fusion-columns-5 .fusion-column:first-child,
	.fusion-columns-4 .fusion-column:first-child,
	.fusion-columns-3 .fusion-column:first-child,
	.fusion-columns-2 .fusion-column:first-child,
	.fusion-columns-1 .fusion-column:first-child {
		margin-left: 0;
	}

	.fusion-column:nth-child(5n),
	.fusion-column:nth-child(4n),
	.fusion-column:nth-child(3n),
	.fusion-column:nth-child(2n),
	.fusion-column {
		margin-right: 0;
	}

	#wrapper{
		width:auto !important;
		overflow-x: hidden;
	}
	#main{
		padding-bottom:50px;
	}
	.create-block-format-context{
		display: none;
	}
	.columns .col{
		float:none;
		width:100% !important;
		margin:0 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.avada-container .columns {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.avada-container .columns .col {float:left;}
	.avada-container .col img{		
		display:block;
		margin:0 auto;
	}
	.review {
		float:none;
		width:100%;
	}
	.copyright,
	.fusion-social-links-footer {
		display: block;
		text-align:center;
	}
	.fusion-social-links-footer {
		width: auto;
	}

	.fusion-social-links-footer .fusion-social-networks {
		display: inline-block;
		float: none;
	}
	.fusion-social-links-footer .fusion-social-networks .fusion-social-network-icon:first-child {
		margin-left: 0;
		margin-right: 0;
	}
	.copyright {
		padding:0 0 15px;
	}
	.author .author_social .custom_msg {
		float:none;
		text-align:center;
		max-width: 100%;
	}	
	.author .author_social .fusion-social-networks {
		text-align: center;
	}
	.author .author_social .fusion-social-networks .fusion-social-network-icon:first-child {
		margin-left: 0;
	}
	.copyright:after,
	.social-networks:after{
		content:"";
		display:block;
		clear:both;
	}
	.social-networks li,
	.copyright li{
		float:none;
		display:inline-block;
	}
	
	.fusion-reading-box-container .reading-box.reading-box-center,
	.fusion-reading-box-container .reading-box.reading-box-right {
		text-align: left;
	}
	
	.fusion-reading-box-container .continue { display: block; }
	.fusion-reading-box-container  .mobile-button{
		display: none;
		float: none;
	}
	
	#wrapper .page-title-container{height:auto !important;padding:14px 0 12px 0;}	
	
	.page-title{
		padding-bottom: 0;
		padding-top: 0;
	}
	.page-title h1{
		float:none;
	}
	.page-title ul{
		float:none;
		text-align:left;
		padding-top:0 !important;
		line-height:11px !important;
	}
	.rtl .page-title ul{
		text-align:right;
	}

	.header-wrapper{
		position:static !important;
	}

	#header{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	#header-sticky .logo,#header .logo{
		float:none ;
		text-align:center;
		margin:0 !important;
	}
	body #header-sticky.sticky-header .logo{float: left !important;}
	#header-sticky .nav-holder,#header .nav-holder{
		float:none !important;
	}
	
	.mobile-nav-holder {
		margin-top:0px !important;
	}

	.sticky-header .mobile-nav-holder {
		margin-top:0px !important;
	}
	
	.mobile-nav-item a {
		height: initial !important;
		line-height: initial !important;
	}
	
	.mobile-nav-item a:after {
		display:none;
	}
	
	.nav-holder ul, .rtl .header-v5 #nav > ul{display:none;}
	.mobile-nav-holder { display: block; }
	.rtl #wrapper .mobile-nav-holder .mobile-nav-item {float:none; padding-left:0;}
	.mobile-nav-holder.set-invisible { display:none !important; }
	.nav-holder .dd-container,.top-menu .dd-container{display:block !important;width:100%;}
	.top-menu .dd-container{width:50% !important;margin:0 auto !important;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth{
		width:100%;
		margin-bottom:20px;
	}
	.one_half > div, .one_third > div, .two_third > div, .three_fourth > div, .one_fourth > div{
		margin-bottom:0;
	}

	.title{
		margin-top:0px !important;
		margin-bottom:20px !important;
	}

	#main .cart-empty {float: none;text-align:center;border-top: 1px solid;border-bottom: none;width:100%;line-height:normal!important;height:auto!important;margin-bottom:10px;padding-top:10px;}
	#main .return-to-shop {float: none;border-top: none;border-bottom: 1px solid;width:100%;text-align:center;line-height:normal!important;height:auto!important;padding-bottom:10px;}
	
	.woocommerce .checkout_coupon .promo-code-heading{display:block;margin-bottom:10px!important;float:none;text-align:center;}
	.woocommerce .checkout_coupon .coupon-contents{display:block;float:none;margin:0;}
	.woocommerce .checkout_coupon .coupon-input{display:block;width:auto!important;float:none;text-align:center;margin-right:0;margin-bottom:10px!important;}
	.woocommerce .checkout_coupon .coupon-button{display:block;margin-right:0;float:none;text-align:center;}

	.sidebar .social_links .social li{
		width:auto;
		margin-right:5px;
	}

	#comment-input{
		margin-bottom:0;
	}
	#comment-input input{
		width:90%;
		float:none !important;
		margin-bottom:10px;
	}
	#comment-textarea textarea{
		width:90%;
	}

	.pagination{
		margin-top:40px;
	}

	.portfolio-one .portfolio-item .image{
		float:none;
		width:auto;
		height:auto;
		margin-bottom:20px;
	}

	h5.toggle span.toggle-title{
		width:80%;
	}

	#wrapper .sep-boxed-pricing .panel-wrapper	{
		padding: 0;
	}
	
	#wrapper .full-boxed-pricing .column,
	#wrapper .sep-boxed-pricing .column {
		float:none;
		margin-bottom:10px;
		margin-left: 0;
		width:100%;
	}

	.page-title h1{
		margin-top:0;
		margin-bottom:5px;
	}
	.page-title-captions,.page-title h1,.page-title ul{
		display:block;
		float:none;
		line-height:normal;
		width:100%;
	}
	
	.page-title ul {
		margin-top:10px;
	}

	.share-box{
		height:auto;
	}

	.page-title-captions {
		width: 45%;
	}

	.page-title .breadcrumbs {
		display: block !important;
		width: 45%;
		text-align: right;
	}

	.page-title-captions, .page-title .breadcrumbs {
		display: table-cell !important;
		vertical-align: middle;
	}

	#wrapper .share-box h4{
		float:none;
		line-height:20px !important;
		padding: 0;
	}
	.share-box ul{
		float:none;
		overflow:hidden;
		padding:0 25px;
		padding-bottom:15px;
		margin-top:0px;
	}

	.project-content .project-description{
		margin-bottom:50px;
		float: none !important;
	}
	.project-content .project-description,.project-content .project-info{
		width:100% !important;
	}

	.portfolio-half .flexslider{
		width:100%;
	}
	.portfolio-half .project-content{
		width:100%  !important;
	}

	#style_selector{
		display:none;
	}

	.portfolio-tabs,.faq-tabs{
		height:auto;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.portfolio-tabs li, .faq-tabs li{
		float:left;
		margin-right:30px;
		border-bottom:0;
	}

	.post-content .rev_slider_wrapper{margin-left:-5px !important;}
	.ls-avada .ls-nav-prev,.ls-avada .ls-nav-next{display:none !important;}

	nav#nav,nav#sticky-nav{margin-right:0;}

	#footer .social-networks{width:100%;margin:0 auto;position:relative;left:-11px;}
	
	.tab-holder .tabs{
		height:auto !important;
		width:100% !important;
	}
	.shortcode-tabs .tab-hold .tabs li{
		width:100% !important;
	}
	
	body .shortcode-tabs .tab-hold .tabs li, body.dark .sidebar .tab-hold .tabs li{border-right:none!important;}

	.error-message{line-height:170px;margin-top:20px;}
	.error_page .useful_links{width:100%;padding-left:0;}

	.fusion-google-map{width:100% !important;margin-bottom:20px !important;}

	.social_links_shortcode .social li{width:10% !important;}

	.header-social .fusion-social-links-header{ max-width: none; }
	
	.header-social .header-info { line-height: 40px; }
	
	#wrapper .header-social { min-height: 0 !important; }
	.header-social { padding: 0 !important; text-align: center; line-height: 0; }
	.rtl .header-social .alignleft, .rtl .header-social .alignright { text-align: center; }
	.header-social .alignleft { border-bottom: 1px solid; }
	.header-social .top-menu { line-height: 40px !important; display: inline-block; }
	.header-social .top-menu #snav > li { padding-right: 7px; display: inline-block; float: none; }
	.header-social .top-menu .sub-menu {text-align: left; }	
	
	.top-menu .cart { padding-left: 10px !important; background-color: transparent !important; }
	.top-menu .cart > a { margin-left: 20px; padding: 0 !important; min-width: 0 !important; }
	.top-menu .cart > a:before { position: absolute; margin-left: -19px; }
	.rtl .top-menu .cart > a { margin-left: 0; margin-right: 20px; }
	.rtl .top-menu .cart > a:before { margin-left: 0; margin-right: -19px; }	
	.top-menu .cart > a:after { display: none; }
	.top-menu .cart > a > .amount-with-sep { display: none; }
	.header-social .menu li:first-child { border-left: none; }

	.header-v4 #header .search { display: none; }
	
	.header-social .fusion-social-links-header { margin-top: 15px; }

	#small-nav .mobile-nav-holder {margin-top:0 !important;}	

	#wrapper .ei-slider{width:100% !important;}

	#wrapper .ei-slider{height:200px !important;}

	.progress-bar{margin-bottom:10px !important;}

	.fusion-blog-large-alternate .post-content-container {
		margin-left: 100px;
	}

	.medium-alternate .post-content{float:none;width:100% !important;margin-top:20px;}

	.header-social{padding-top: 0; padding-bottom: 0;}

	#wrapper .content-boxes-icon-boxed .content-wrapper-boxed{min-height:inherit !important;padding-bottom:20px;padding-left:3%;padding-right:3%;}
	#wrapper .content-boxes-icon-on-top .content-box-column,#wrapper .content-boxes-icon-boxed .content-box-column{margin-bottom:55px;}

	.fusion-counters-box .fusion-counter-box{ margin-bottom: 20px; padding: 0 15px;}
	.fusion-counters-box .fusion-counter-box:last-child{ margin-bottom: 0; }

	.popup{display:none !important;}

	.share-box .social-networks{text-align:left;}

	.catalog-ordering > ul,.catalog-ordering .order,
	.avada-myaccount-data .addresses .col-1, .avada-myaccount-data .addresses .col-2, .avada-customer-details .addresses .col-1, .avada-customer-details .addresses .col-2
	{float:none!important;margin-left:auto !important;margin-right:auto !important;}
	.avada-myaccount-data .addresses .col-1, .avada-myaccount-data .addresses .col-2, .avada-customer-details .addresses .col-1, .avada-customer-details .addresses .col-2{margin:0!important;width:100%;}
	.catalog-ordering{margin-bottom:50px;}
	.catalog-ordering .order{width:33px;}
	.catalog-ordering > ul,.catalog-ordering .order{margin-bottom:10px;}
	.order-dropdown > li:hover > ul{display:block;position:relative;top:0;}
	#wrapper .orderby-order-container{overflow:visible;width:auto;margin-bottom:10px;float:left;}
	#wrapper .orderby.order-dropdown{float:left; margin-right: 7px ;}
	#wrapper .sort-count.order-dropdown{width:215px; float: left !important; margin-left: 7px !important;}
	#wrapper .sort-count.order-dropdown ul a{width:215px;}
	#wrapper .catalog-ordering .order{float:left !important;margin-bottom:0 !important;}

	.products-2 li:nth-child(2n+1), .products-3 li:nth-child(3n+1), .products-4 li:nth-child(4n+1), .products-5 li:nth-child(5n+1), .products-6 li:nth-child(6n+1) { clear: none !important; }
	.products-3 li:nth-child(3n+1) { clear: both !important;}
	.products li, #main .products li:nth-child(3n), #main .products li:nth-child(4n){width:32.3% !important;float: left !important; margin-right: 1% !important;}

	.woocommerce #customer_login .login .form-row, .woocommerce #customer_login .login .lost_password{float:none;}
	.woocommerce #customer_login .login .inline, .woocommerce #customer_login .login .lost_password{display:block;margin-left:0;}

	.avada-myaccount-data .my_account_orders .order-number{padding-right:8px;}
	.avada-myaccount-data .my_account_orders .order-actions{padding-left:8px;}
	
	.shop_table .product-name{width:35%;}

	#wrapper .woocommerce-side-nav,#wrapper .woocommerce-content-box,#wrapper .shipping-coupon,#wrapper .cart_totals, 
	#wrapper #customer_login .col-1, #wrapper #customer_login .col-2,
	#wrapper .woocommerce form.checkout #customer_details .col-1, #wrapper .woocommerce form.checkout #customer_details .col-2 
	{float:none;margin-left:auto;margin-right:auto;width:100% !important;}
	#customer_login .col-1, .coupon{margin-bottom:20px;}
	.shop_table .product-thumbnail{float:none;}
	.product-info{margin-left:0;margin-top:10px;}
	.product .entry-summary div .price{float:none;}
	.product .entry-summary .woocommerce-product-rating{float:none;margin-left:0;}
	.woocommerce-tabs .tabs,.woocommerce-side-nav{margin-bottom:25px;}
	.woocommerce-tabs .panel{width:91% !important;padding:4% !important;}
	#reviews li .avatar{display:none;}
	#reviews li .comment-text{width:90% !important;margin-left:0 !important;padding:5% !important;}
	.woocommerce-container .social-share{overflow:hidden;}
	.woocommerce-container .social-share li{display:block;float:left;margin:0 auto;border-right:0!important;border-left:0!important;padding-left:0 !important;padding-right:0 !important;width:25%;}
	.has-sidebar .woocommerce-container .social-share li { width: 50%; }

	.myaccount_user_container span{width:100%;float:none;display:block;padding:10px 0px;border-right:0;}
	.rtl .myaccount_user_container span{border-left:0;}

	.shop_table .product-thumbnail img,.shop_table .product-thumbnail .product-info,.shop_table .product-thumbnail .product-info p{float:none; width:100%;margin:0 !important;padding:0;}
	.shop_table .product-thumbnail{padding:10px 0px;}

	.product .images{margin-bottom:30px;}

	#customer_login_box .button{float:left;margin-bottom:15px;}
	#customer_login_box .remember-box{clear:both;display:block;padding:0;width:125px;float:left;}
	#customer_login_box .lost_password{float:left;}

	body #small-nav{visibility:visible !important;}

	#wrapper .product .images,#wrapper .product .summary.entry-summary {
		width: 50% !important;
		float: left !important;
	}

	#wrapper .product .summary.entry-summary {
		width: 48% !important;
		margin-left: 2% !important;
	}

	#wrapper .woocommerce-tabs .tabs {
		width: 24% !important;
		float: left !important;
	}

	#wrapper .woocommerce-tabs .panel {
		float: right !important;
		width: 70% !important;
		padding: 4% !important;
	}

	.gform_wrapper .ginput_complex .ginput_left,.gform_wrapper .ginput_complex .ginput_right,.wpcf7-form .wpcf7-text,.wpcf7-form .wpcf7-quiz,.wpcf7-form .wpcf7-number,.gform_wrapper .gfield input[type=text],.wpcf7-form textarea,.gform_wrapper .gfield textarea{float:none !important;width:100% !important;box-sizing:border-box;}

	.product .images #slider .flex-direction-nav, .product .images #carousel .flex-direction-nav{display:none !important;}

	.myaccount_user_container span.msg,.myaccount_user_container span:last-child{padding-left:0 !important;padding-right:0 !important;}

	#nav-uber #megaMenu { width: 100%; }

	.fullwidth-box { background-attachment: scroll; }

	#toTop {bottom: 30px; border-radius: 4px; height: 40px; z-index: 10000;}
	#toTop:before { line-height:38px; }
	#toTop:hover {background-color: #333333;}

	.no-mobile-totop .to-top-container {display: none;}

	.no-mobile-slidingbar #slidingbar-area{display:none;}

	.header-v5 #header .logo { float: none; }

	.tfs-slider .slide-content-container h2 {
		font-size: 40px !important;
		line-height: 60px !important;
	}
	.tfs-slider .slide-content-container h3 {
		font-size: 16px !important;
		line-height: 24px !important;
	}

	.tfs-slider .slide-content-container .btn {
		min-height: 0 !important;
		padding-left:20px; padding-right:20px !important;
		height:26px !important;
		line-height:26px !important;
	}
	
	.header-wrapper .sticky-header-v1-scrolled #header {
		padding: 0px !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.header-wrapper .sticky-header-v1-scrolled #header .logo {
		//margin: 0 !important;
		float: left;
	}
	
	.header-wrapper .sticky-header-v1-scrolled .mobile-nav-holder {
		margin-top: 0 !important;
		padding-top: 17px;
	}

	.fusion-soundcloud iframe {
		width: 100%;
	}

	.header-v4 .search { display: none; }
	.mobile-menu-design-classic .header-v4 #header .search { display: block; float: none; width: 100%; margin-left: 0; margin-top: 13px; margin-bottom: 0px; }
	.mobile-menu-design-classic #wrapper .header-v4 #header .search-table { width: 100%; }
	#header .tagline { clear: both; }
	.header-v4 #header .tagline{float:none; padding-top: 10px; text-align: left; line-height: 24px; }
	.mobile-menu-design-classic .header-v4 #header .tagline { text-align: center; }
	.mobile-menu-icons {
		display: block;
	}
	
	.mobile-logo-pos-right .mobile-menu-icons a {
		float: left;
		margin-left: 0;
		margin-right: 18px;
	}
	
	.mobile-logo-pos-right .mobile-menu-icons a:last-child {
		margin-right: 0;
	}	

	.mobile-logo-pos-left #header .logo {
		float: left !important;
	}

	.mobile-logo-pos-left .mobile-menu-icons {
		float: right;
	}
	
	.mobile-logo-pos-right #header .logo {
		float: right !important;
	}

	.mobile-logo-pos-right .mobile-menu-icons {
		float: left;
	}

	.mobile-logo-pos-right .logo-container {
		float: right;
	}

	.mobile-logo-pos-left .logo-container {
		float: left;
	}

	.mobile-logo-pos-right .header-v4 #header .tagline {
		text-align: right;
	}
	
	.logo-container {
		max-width: 65%;
	}

	.mobile-menu-design-classic .logo-container {
		max-width: 100%;
	}

	.fusion-columns-2 .fusion-column, .fusion-columns-2 .fusion-flip-box-wrapper,
	.fusion-columns-4 .fusion-column, .fusion-columns-4 .fusion-flip-box-wrapper {
		width: 50% !important;
		float: left !important;
	}

	.fusion-columns-2 .fusion-column:nth-child(3n), .fusion-columns-2 .fusion-flip-box-wrapper:nth-child(3n), 
	.fusion-columns-4 .fusion-column:nth-child(3n), .fusion-columns-2 .fusion-flip-box-wrapper:nth-child(3n)  {
		clear: both;
	}

	.fusion-columns-3 .fusion-column, .fusion-columns-3 .fusion-flip-box-wrapper,
	.fusion-columns-5 .fusion-column, .fusion-columns-5 .fusion-flip-box-wrapper,
	.fusion-columns-6 .fusion-column, .fusion-columns-6 .fusion-flip-box-wrapper,
	.fusion-columns-5 .col-lg-2, .fusion-columns-5 .col-md-2, .fusion-columns-5 .col-sm-2 {
		width: 33.33% !important;
		float: left !important;
	}

	.fusion-columns-3 .fusion-column:nth-child(4n), .fusion-columns-3 .fusion-flip-box-wrapper:nth-child(4n),
	.fusion-columns-5 .fusion-column:nth-child(4n), .fusion-columns-5 .fusion-flip-box-wrapper:nth-child(4n),
	.fusion-columns-6 .fusion-column:nth-child(4n), .fusion-columns-6 .fusion-flip-box-wrapper:nth-child(4n) {
		clear: both;
	}

	.footer-area .fusion-column,
	#slidingbar .fusion-column {
		margin-bottom: 40px;
	}

	.fusion-column.fusion-one-sixth,
	.fusion-column.fusion-five-sixth,
	.fusion-column.fusion-one-fifth,
	.fusion-column.fusion-two-fifth,
	.fusion-column.fusion-three-fifth,
	.fusion-column.fusion-four-fifth,
	.fusion-column.fusion-one-fourth,
	.fusion-column.fusion-three-fourth,
	.fusion-column.fusion-one-third,
	.fusion-column.fusion-two-third,
	.fusion-column.fusion-one-half {
	  position: relative;
	  float: left;
	  margin-right: 4%;
	  margin-bottom: 20px;
	}
	.fusion-column.fusion-one-sixth {
	  width: 13.3333%;
	}
	.fusion-column.fusion-five-sixth {
	  width: 82.6666%;
	}
	.fusion-column.fusion-one-fifth {
	  width: 16.8%;
	}
	.fusion-column.fusion-two-fifth {
	  width: 37.6%;
	}
	.fusion-column.fusion-three-fifth {
	  width: 58.4%;
	}
	.fusion-column.fusion-four-fifth {
	  width: 79.2%;
	}
	.fusion-column.fusion-one-fourth {
	  width: 22%;
	}
	.fusion-column.fusion-three-fourth {
	  width: 74%;
	}
	.fusion-column.fusion-one-third {
	  width: 30.6666%;
	}
	.fusion-column.fusion-two-third {
	  width: 65.3333%;
	}
	.fusion-column.fusion-one-half {
	  width: 48%;
	}
	.fusion-column-last {
	  clear: right;
	  zoom: 1;
	}

	.sidebar {
		margin-left: 0 !important;
		width: 25% !important;
	}

	#content { margin-left: 0 !important; }

	.has-sidebar #main #content,
	#main #content.with-sidebar,
	.project-content .project-description {
		width: 72% !important;
	}

	.sidebar-position-left .sidebar {
		float: left !important;
	}

	.sidebar-position-left #content {
		float: right !important;
	}

	.sidebar-position-right .sidebar {
		float: right !important;
	}

	.sidebar-position-right #content {
		float: left !important;
	}

	#sidebar-2 { clear: left; }

	.mobile-menu-design-modern .header-social .alignleft { float: left; width: auto; border-bottom: 0; }
	.mobile-menu-design-modern .header-social .alignright { float: right; width: auto; }
	.mobile-menu-design-modern .header-social .fusion-social-links-header { max-width: 300px; }
	.mobile-menu-design-modern .header-social .alignright .fusion-social-links-header a { margin-right: 0px !important; margin-left: 20px !important; }

	.mobile-menu-design-classic .mobile-nav-holder { margin-top: 20px !important; }
	
	.ua-mobile .page-title-container, .ua-mobile .footer-area, .ua-mobile body, .ua-mobile #main { background-attachment: scroll !important; }

	#nav-uber { margin-top: 20px; }
	#small-nav #nav-uber { margin-top: 0; }
	.mobile-menu-design-classic #small-nav .mobile-nav-holder { margin-top: 0px !important; }
	.mobile-menu-design-classic .header-v4 #small-nav .mobile-nav-holder, .mobile-menu-design-classic .header-v4 #small-nav .mobile-nav-holder { margin-top: 10px !important; margin-bottom: 10px !important; }
}