/**
 * Ignite Master CSS
 * This master CSS file contains the CSS for all Ignite pages and imports other
 * CSS files needed for Ignite to function properly.
 * @author		The AuctionServices.com, Inc. Team
 * @copyright	(c) 2014 AuctionServices.com, Inc.
 * @license		license.txt
 * @package		Ignite PHP Client
 */
@charset "utf-8";
#acDetailWrap p, hr, dl, pre, form, table, address, blockquote {    margin: 10px 0;}
#acListWrap p, hr, dl, pre, form, table, address, blockquote {    margin: 6px 0 2px;}
#acListWrap {font: 13px/17px Verdana,Arial;}
#acListWrap {font: 13px/17px Verdana,Arial;}
#acDetailWrap {max-width:100%; color: #333333;  font: 12px/17px Verdana,Arial;}
div.pagination ol li {display:inline; height:25px; list-style:decimal outside none; margin:0px; padding:0px; text-align:center;}
div.auctionListing {width:100%; overflow:auto;background: none repeat scroll 0 0 #e9e9e9;}
div.auctionListImage {text-align:center; margin-right:5px; padding-left:5px;}
div.acListState {margin-top:2px; padding:3px 4px; font:bold 14px/14px Verdana,Arial, Helevetica, sans-serif; color:#fff; background:#f00;}
div.auctionListingLeft {min-width:185px; float:left; margin-top:5px; text-align:center; overflow:auto;}
div.auctionListingMiddle { min-width:180px;margin-top:5px; overflow:auto;    padding: 0 6px;}
.auctionListingMiddle strong{color:#222;}
div.auctionListLinks {margin-bottom:5px; padding:5px; border:0px;}
div.auctionListButtons {margin-top:5px;}
div.auctionListButtons a {width:115px; font:bold 14px Verdana,Arial, Helevetica, sans-serif;}
div.auctionListButtons img {vertical-align:middle;}
div.acListEventBiddingLink a {  background:#fff;border: 1px solid #555555; border-radius: 6px; box-shadow: 3px 3px 3px #666666;font: bold 14px Verdana,Arial,Helevetica,sans-serif; margin: 0px !important; padding: 10px;}
div.acListEventBiddingLink img {vertical-align:middle;}
.acDetailEvent {color: #555555;}
.acDetailEvent strong {color: #222;}
.acListEvent strong {color: #222;}
.pagination ul, ol {    margin: 0  0 8px 0;  }
.pagination {padding:0px;margin:0px;}
.pagination a {  background: #ddd;  padding: 2px;  text-decoration: none;}
#auctionListDetails {min-width:420px; margin-top:100px;}
.auctionList{background: none repeat scroll 0 0 #e8e8e8; border: 1px solid #999999;   border-radius: 10px 10px 0 0; margin-top: 12px;}
#listSubtitle {text-align:left; margin:5px;}
.acListEventBiddingLink { margin: 20px 0;}
#acListWrap h1, #acListWrap h2, #acListWrap h3, #acListWrap h4 {clear:right; font-weight:bold; margin:0px;} /* Keep subtitles et al from being pushed down */
.auctionList h1 {border-bottom: 1px solid #CCCCCC; font-size: 17px; line-height: 22px; padding: 10px 6px 12px;}
#acListWrap h2{font-size:18px;color:#222;line-height: 22px;}
#acListWrap h4{font-size:15px;color:#222;line-height: 22px;}
#acDetailWrap h1{font-size:20px;color:#222;line-height: 22px;}
#acDetailWrap h2{font-size:18px;color:#333;line-height: 22px;}
#acListFooter {margin-top:5px; text-align:center;}
#lowerSection { line-height: 19px;}
.noAuctions {margin:10px auto; padding:6px; font:normal 21px Verdana,Arial, Helvetica, sans-serif; text-align:center; color:#000;}
.main_img img { box-shadow: 5px 5px 4px #555555; }
div.auctionTitle {text-align:center;}
#summarySubtitle {text-align:center;}
#summaryHeader {}
#summaryHeaderLeft {float:left; }
#summaryHeaderRight {float:left; max-width:460px;margin:0 0 0 12px}
.button-links {  border: 1px solid #555555; border-radius: 6px; box-shadow: 3px 3px 3px #666666;font: bold 14px Verdana,Arial,Helevetica,sans-serif; margin: 0px !important; padding: 4px;}
.button-links a {min-width:115px;   background: none repeat scroll 0 0 #c5c5c5;}
.auctionListing .ui-button { background: none repeat scroll 0 0 #FFFFFF; padding: 10px;}
.acListEventBiddingLink h3 { margin: 0 0 26px !important;}
.buttons a {
    background: none repeat scroll 0 0 #414141;
    border: 1px solid #444444;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #222222;
    color: #FFFFFF;
    margin: 4px 0;
    padding: 7px 12px;
}
.acListEventBiddingLink h3 {  margin: 0 0 26px;}
#contact_tab{font:16px/23px Verdana,Arial;}
#topTabs ul li { font-size: 15px;}
#detail-tabs {}
#tabs .ui-tabs li a img {float:left; margin:5px 5px 0px 0px;}
.tabsection a  {text-decoration:none;}
.tabsection h1 {margin:0; padding:0.4em; text-align:left; font-size:18px;border-radius:6px 6px 0 0;}
.tabsection h3 {margin:0; padding: 0 0 8px 0; text-align:left; font-size:16px;color:#555;}
.tabsection {padding:0 0 8px 0; margin-bottom:5px; color:#525252;}
.galleryTable {text-align:center; border:1px solid #333;}
#all_auctions {display:inline;}
#all_auctions img {float:right;  margin: 4px 0 0;}
#acDetailFooter {margin-top:5px; text-align:center;}
div.pagination ol li {display: inline;  height: 25px;  list-style: decimal outside none; margin: 0; padding: 0;  text-align: center;}
.ui-state-default { background:  #fff; border: 1px solid #555; color: #555555; font-weight: normal;}
.buttons { padding: 2px;margin:18px}
.details-button {}
#auction_title{background:#378616;border-radius: 8px 8px 0 0;}
.auctionList h1  a{color:#fff;} 
#listing_title{background:linear-gradient(to bottom, #727272 0%, #333333 60%, #333333 61%, #333333 100%) repeat scroll 0 0 #333;padding: 8px 6px;}
.listing_title{background:linear-gradient(to bottom, #727272 0%, #333333 60%, #333333 61%, #333333 100%) repeat scroll 0 0 #333;padding: 8px 6px;}
.listing_title  a{color:#fff;padding:8px 12px;} 
#auction_title a {}
.auctionListImage {}
.ignite-details {}
#content-full { margin-bottom: 0px; margin-top: 20px;}
.nav_tabs {    background: linear-gradient(to bottom, #AAAAAA 0%, #777777 50%, #444444 100%) repeat scroll 0 0 #333333; border: 1px solid #AAAAAA; color: #222222; font-weight: bold;}
.listItem { border: 1px solid #555555; border-radius: 8px 8px 0 0; margin: 0 0 12px;}
div.pagination ol li {display:inline; height:25px; list-style:decimal outside none; margin:0px; padding:0px; text-align:center;}
div.productListing {width:100%; overflow:auto;}
div.productListImage {text-align:center;}
div.acListState {margin-top:12px; padding:3px 4px; font:bold 14px/14px Arial, Helevetica, sans-serif; color:#fff; background:#f00;}
div.productListingLeft { float: left; margin-top: 5px; min-width: 210px; overflow: auto; text-align: center;}
div.productListingMiddle {margin-top:5px; overflow:auto; padding: 0 6px;}
div.productListLinks {border: 0 none; margin-bottom: 5px; padding: 5px;}
div.productListButtons {margin-top:5px;}
div.productListButtons a {width:115px; font:bold 14px Arial, Helevetica, sans-serif;}
div.productListButtons img {vertical-align:middle;}
#productListDetails {min-width:420px; margin-top:40px;}
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table;}
.ui-helper-clearfix:after {    clear: both;}
.ui-tabs .ui-tabs-nav { margin: 0;  padding: 6px 6px 0;}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none; border-radius: 6px 6px 0 0;
    float: left;
    list-style: none outside none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a { float: left; padding: 0.5em 1em; text-decoration: none;color: #333333 !important; font-weight: normal;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;background:#fff;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer;border-radius:6px 6px 0 0;}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    display: block;
    padding: 8px 14px;
}
.ui-widget { font-family: Verdana,Arial,sans-serif;  font-size: 1.1em;}
.ui-widget .ui-widget { font-size: 1em;}
div.pagination ol li a{font:normal 9px verdana,arial;padding: 2px 4px;}
.ui-widget-content {    border: 1px solid #aaa;  border-radius: 8px 8px 0 0;    color: #222222;}
.ui-widget-content a {  color: #222222;}
.ui-widget-header {
    background: #378616;
    border-bottom: 1px solid #888888;
    border-radius: 6px 6px 0 0;
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-header a {    color: #222222;}
.ui-corner-left {    border-radius: 8px 0 0 8px !important;}
.ui-corner-right {    border-radius: 0 8px  8px 0 !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #555; background:#ddd;
    color: #242424;
    font: bold 13px/16px Verdana,Arial;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color: #555555; text-decoration: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
background:#ccc;}
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; background:#ccc; text-decoration: none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #aaa;
    color: #212121;
    font-weight: normal;
    background: none repeat scroll 0 0 #FFFFFF;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {    color: #212121;  text-decoration: none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #fcefa1;  color: #363636;}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {    color: #363636;}
.gv_filmstripWrap { overflow: hidden;  position: absolute;}.gv_gallery { overflow: hidden;  position: relative;}.gv_panel {    filter: inherit;  left: 0;  overflow: hidden;  position: absolute;  top: 0;  z-index: 100;}.gv_panel img {   position: absolute;}.gv_frame {  cursor: pointer; float: left;  margin: 0; padding: 0; position: relative;}#colorbox, #cboxOverlay, #cboxWrapper {  left: 0;  overflow: hidden;  position: absolute;  top: 0;  z-index: 9999;}#cboxOverlay { height: 100%;  position: fixed;  width: 100%;}#cboxMiddleLeft, #cboxBottomLeft {    clear: left;}#cboxContent {    position: relative;}#cboxLoadedContent {    overflow: auto;}#cboxTitle {    margin: 0;}#cboxLoadingOverlay, #cboxLoadingGraphic {    height: 100%;   left: 0;    position: absolute;  top: 0;  width: 100%;}#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer;}.cboxPhoto {  border: 0 none;  display: block;  float: left;  margin: auto;}.cboxIframe {  border: 0 none;  display: block;  height: 100%;  width: 100%;}#cboxOverlay { background: none repeat scroll 0 0 #000000;}#colorbox {}#cboxTopLeft {background: url("images/colorbox/controls.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 14px;  width: 14px;}#cboxTopCenter { background: url("images/colorbox/border.png") repeat-x scroll left top rgba(0, 0, 0, 0); height: 14px;}#cboxTopRight { background: url("images/colorbox/controls.png") no-repeat scroll -36px 0 rgba(0, 0, 0, 0); height: 14px; width: 14px;}#cboxBottomLeft { background: url("images/colorbox/controls.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0); height: 43px; width: 14px;}#cboxBottomCenter { background: url("images/colorbox/border.png") repeat-x scroll left bottom rgba(0, 0, 0, 0); height: 43px;}#cboxBottomRight { background: url("images/colorbox/controls.png") no-repeat scroll -36px -32px rgba(0, 0, 0, 0); height: 43px; width: 14px;}#cboxMiddleLeft { background: url("images/colorbox/controls.png") repeat-y scroll -175px 0 rgba(0, 0, 0, 0); width: 14px;}#cboxMiddleRight { background: url("images/colorbox/controls.png") repeat-y scroll -211px 0 rgba(0, 0, 0, 0); width: 14px;}#cboxContent { background: none repeat scroll 0 0 #FFFFFF; overflow: visible;}.cboxIframe { background: none repeat scroll 0 0 #FFFFFF;}#cboxError { border: 1px solid #CCCCCC; padding: 50px;}#cboxLoadedContent { margin-bottom: 5px;}#cboxLoadingOverlay { background: url("images/colorbox/loading_background.png") no-repeat scroll center center rgba(0, 0, 0, 0);}#cboxLoadingGraphic { background: url("images/colorbox/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}#cboxTitle { bottom: -25px; color: #7C7C7C; font: 12px/1.2 Verdana,sans-serif; left: 0; position: absolute; text-align: center;  width: 100%;}#cboxCurrent { bottom: -25px;  color: #7C7C7C;  font: 12px/1.2 Verdana,sans-serif;   left: 58px;   position: absolute;}#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { background: url("images/colorbox/controls.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); bottom: -29px;  height: 23px; position: absolute; text-indent: -9999px; width: 23px;}
#cboxPrevious { background-position: -51px -25px;    left: 0;}#cboxPrevious:hover {  background-position: -51px 0;}#cboxNext {  background-position: -75px -25px;    left: 27px;}#cboxNext:hover { background-position: -75px 0;}#cboxClose {  background-position: -100px -25px;  right: 0;}#cboxClose:hover {  background-position: -100px 0;}.cboxSlideshow_on #cboxSlideshow { background-position: -125px 0; right: 27px;}.cboxSlideshow_on #cboxSlideshow:hover {  background-position: -150px 0;}.cboxSlideshow_off #cboxSlideshow { background-position: -150px -25px;  right: 27px;}.cboxSlideshow_off #cboxSlideshow:hover {    background-position: -125px 0;}
.featured_auction.compact_auction {
    left: 50% !important;
    margin-left: -115px !important;
    position: relative;
    width: 230px !important;
}
.featured_item.compact_item {
    left: 50% !important;
    margin-left: -115px !important;
    position: relative;
    width: 230px !important;
}
#acDetailWrap .acListEventBiddingLink a { background: none repeat scroll 0 0 #CCCCCC; border: 1px solid #555555; border-radius: 6px; box-shadow: 3px 3px 3px #666666; font: bold 14px Verdana,Arial,Helevetica,sans-serif; margin: 0 !important; padding: 10px;}
/* for responsive pro */
#container {padding:0px!important;}
#ignite_auction_fader a img {
    border: 1px solid #000000;
    box-shadow: none!important;
}