/*

Theme Name: Avada Child

Description: Child theme for the Avada

Author: Your name here

Template: Avada

*/

button {
    outline: 0 !important;
    cursor: pointer !important;
}
.fixed {
    top:85px;
    position:fixed !important;
    width: 100%;
    z-index: 99 !important;
}
.four_pillars.fixed {
    top:0;
}
.header-social .header-info,

.header-social .top-menu {

  line-height: 43px; font-size:16px;

}


#footer {
    background-color: rgba(50, 51, 67, 1) !important;
}
.footer-area {
    background-color: #ebeef7 !important;
}
.footer-area .textwidget,
.footer-area .textwidget a{
    color:#282a2b !important;
    font-family: 'Myriad Pro' !important;
    font-weight: 300;
}

.footer-area ul li a {
    color: #282a2b !important;
    font-family: 'Myriad Pro' !important;
    font-weight: 300;
    padding: 3px 0px;
    display: block;
    font-size: 16px !important;

}
.avada-row {
    max-width: 100% !important;
}

.footer-area .avada-row {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-area h3 {
    color: #282a2b !important;
    font-family: 'Myriad Pro' !important;
    text-transform: capitalize;
    text-align: center;
    font-size: 17px !important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.25px;
    line-height: 1.5em !important;
    padding-bottom: 5px;
    margin-bottom: 12px !important;
    border-bottom: 1px solid rgba(40, 42, 43, 0.5);
}
.footer-area a:hover {
        border-bottom: 1px solid rgba(40, 42, 43, 0.5);
}
.footer-widget-col {
    text-align: center;
}
.fusion-social-links-footer {
    display: block;
    width: 100%;
}
.fusion-social-links-footer .fusion-social-networks {
    text-align: center;
}
   



.single-navigation {

    height: 34px;

    line-height: 34px;

    border-top: 1px solid #E7E6E6;

    border-bottom: 1px solid #E7E6E6;

    margin-bottom: 20px;

    text-align: right;

}



.fusion-reading-box-container {

    z-index: 1;

    position: relative;

    margin-bottom: 20px;

}



.sidebar .widget {

    margin-bottom: 20px;

    position: relative;

}



.sgjvs_widget_title { border-bottom:1px solid #CCC;}



.post {margin-bottom: 30px;}



/*

dl {

    margin: -200px 0 0!important;

}

.fusion-fullwidth.fullwidth-box {

    margin-top: -132px;

} */



.soldy{background:url('/wp-content/uploads/2015/03/soldOver.png');

}

.slidedeck-frame.lens-polarad {

 height: 270px !important;}



body{font: 16px muli!important;}





#nav.nav-holder .navigation > li > a{font-size:18px;text-shadow:2px 2px 1px #000}





#acListWrap .pagination.ui-buttonset {

    float: none;

}

#SlideDeck-217 .slide-title, #SlideDeck-217-frame .sd2-custom-title-font, #SlideDeck-217 .sd2-slide-title {

    font-family: muli!important;}

.auctionList h1 {

    font-size: 17px;

    padding: 2px 0 2px 12px;

}

.buttons {

    14px 0 10px 0 

    padding: 1px;

}

div.auctionListLinks {

    border: 0 none;

    margin-bottom: 0px;

    padding: 0px;

}

.buttons.ignite-photos {

    display: none;

}



#acListWrap p, hr, dl, pre, form, table, address, blockquote {

    margin: 2px 0;

}



.bottomPagination {

    margin: 12px!important;

}

.topPagination {

    display: none;

}



.page-title-container {

    height: 30px!important;

}

.header-v4 #header {

    padding-bottom: 10px!important;

    padding-top: 10px!important;

}

.header-v4 #nav ul li > a, .header-v4 .navigation li.current-menu-ancestor > a {

    border-top: 0 none;

    text-shadow: 1px 1px 0 #000 !important;

}

#ignite_auction_fader {

margin: 6px 0!important;

height: 220px!important;

}

.sd2-slide-title-inner {

    font-size: 18px;color:#1a80b6;

}

#glt-translate-trigger {

    background: rgba(0, 0, 0, 0) linear-gradient(#ccc, #555) repeat scroll 0 0!important;

}

.sd2-small .slide-source-custom.slide-type-image .sd2-node-caption .sd2-slide-text {

    font-size: 16px!important;

}

.maltzer{height:246px;}

.tfs-slider .buttons a {

    color: #eee !important;

    display: inline-block;

    margin: 0;

}



#document > a {

    background: #283b5b none repeat scroll 0 0;

    border: 2px solid #000;

    color: #fff !important;

    font: bold 16px arial !important;

    padding: 10px 4px 10px 0 !important;

    text-align: center;

}

#glt-translate-trigger {

    background: rgba(0, 0, 0, 0) linear-gradient(#fbb450, #f89406) repeat scroll 0 0;

    border-top-left-radius: 0px!important;

    border-top-right-radius: 0px!important;}

#nav ul ul, #sticky-nav ul ul {

    width: 225px!important;

}

div.auction {

    padding-right: 0px!important;}

#acDetailPrimaryEvents {

    display: none!important;}

.viewport {

    float: left!important;

}

#acDetailFooter {

    border-top: 0px solid #ccc!important;float:left;}

#summaryWrap {

    width: 100%;}

#vNavWrap {
display: none;
  margin:0 ;}



#wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a {

    font-size: 17px!important;

}

#wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .side-nav li li a, .side-nav li.current_page_item li a {

    background: #444 none repeat scroll 0 0;

    color: #ffffff!important;

}





#vNavWrap a {

    background: #6f6f7a;

    color: #fff !important;

    font: bold 16px arial !important;

    padding: 10px 4px !important;
        padding-top: 13px !important;
    padding-bottom: 13px !important;


}

.vNavFirst .tSubmenu a {

    font: 14px arial !important;

    margin: 0 0 2px!important;

}

.vNavItem .tSubmenu a {

    font: bold 12px arial !important;

    margin: 0 0 2px 0px!important;

}
#hNavWrap ol li {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
#hNavWrap ol li a, #hNavWrap ol li.selected a{

font-family: 'Myriad Pro' !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 19px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: rgba(50, 50, 66, 1) !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 0 !important;
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 190px !important;

}
#hNavWrap ol li.selected a {
    padding-top: 10px !important;
}
#hNavWrap ol li a img {
    display: none !important;
}
.vNavItem a {
    font-family: 'Myriad Pro' !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 17px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: #6f6f7a !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 0 !important;
    max-height: 50px;
    margin-bottom: 3px !important;

}
.vNavItem a img {
    display: none !important
}
#vNavWrap {
    width: 20% !important;
}


.error_page .useful_links {

    display: none;
}

#ignite_auction_fader a img {
    border: 1px solid #000000;
    box-shadow: none !important;
}

a.search-link {display:none!important;}
a.search-link::after {
    display: none!important;
}

#searchform{float:right;margin:0 10px;}
.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    width: 40%;}


#wrapper .search-table {
    display: table;
    margin: 5px 0 0;
    width: 100%;
}
.slide-source-custom.slide-type-image.custom-layout-caption.custom-caption-position-bottom .sd2-node-caption{max-width:unset!important}
.slidedeck-custom-css-wrapper-3509 .slide-source-custom.slide-type-image.custom-layout-caption.custom-caption-position-bottom .sd2-node-caption p {
    color: black;
    width: 100%;
    font-weight: bold!important;
}






















/*

Updates

Description: Redesign

Author: Sean

Date: 5/2-17

*/

/*Fonts*/



/* This stylesheet generated by Transfonter (https://transfonter.org) on August 30, 2017 7:15 PM */

@font-face {
	    font-family: 'Myriad Pro';
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.eot');
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.woff2') format('woff2'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.woff') format('woff'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.ttf') format('truetype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiCn.svg#MyriadPro-SemiboldSemiCn') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	    font-family: 'Myriad Pro';
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.eot');
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.woff2') format('woff2'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.woff') format('woff'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.ttf') format('truetype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiExt.svg#MyriadPro-SemiExt') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	    font-family: 'Myriad Pro';
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.eot');
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.woff2') format('woff2'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.woff') format('woff'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.ttf') format('truetype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-SemiboldSemiExt.svg#MyriadPro-SemiboldSemiExt') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	    font-family: 'Myriad Pro';
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-Light.eot');
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-Light.woff2') format('woff2'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-Light.woff') format('woff'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-Light.ttf') format('truetype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Light';
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.eot');
	src: url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.woff2') format('woff2'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.woff') format('woff'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.ttf') format('truetype'),
		url('/wp-content/themes/Avada/fonts/MyriadPro-LightCond.svg#MyriadPro-LightCond') format('svg');
	font-weight: 300;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500');



/*Sitewide*/
p, h1, h2, h3, input, textarea, select {
    color:#282a2b !important;
    font-family: 'Myriad Pro', serif !important;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
span.azul {
    color:#1e87d7;
}
.contain_90 {
    width: 90%;
    margin:0 auto;
    overflow: hidden;   
    padding-bottom: 50px;
}
.standard_contain {
    width: 90%;
    margin:0 auto;
    overflow: hidden;
}
.wide_contain {
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}



/*Header Old*/
.header-social {
    display: none;
}
header#header {
    display: none;
}
div#small-nav {
    display: none;
}


/*Header New*/

.header_wrap {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    height: 85px;
    z-index: 99;
          display: flex;
  align-items: center;
  justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.logo_contain {
    width: 25%;
    float: left;
    text-align: center;
}
.logo_contain img {
    width: 100%;
    max-width: 270px;
}
ul.sub-menu {
    position: absolute;
    left: -30px;
    top:51px;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background-color: #ebeef7;
    padding:10px;
    padding-left: 20px;
    padding-bottom: 0;
    display:none;
    text-align: left;
    width: 280px;
    border: 1px solid #323343;
}
ul.sub-menu ul.sub-menu {
    left: auto;
    right:-280px;
/*    display: none !important;*/
}
/*
li.menu-item-710615:hover ul.sub-menu  {
    display: block !important;
}
*/
#tribe-events-content .tribe-events-calendar td {
    background: #ebeef7 !important;
}
span.tribe-event-time {
    display: none !important;
}
ul.sub-menu li {
    padding: 5px 3px 3px;
    -webkit-font-smoothing: antialiased;
}
.navLinks ul.sub-menu li a {
    color:#282a2b !important;
}
.navLinks ul.sub-menu li a:hover {
    color:#02a3d9 !important;
}
.navLinks {
    width: 75%;
    float: left;
    padding-top: 23px;
    text-align: center;
}
.navLinks > ul > li {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}
.navLinks > ul > li a:hover {
    color:#323343 !important;
}
.navLinks > ul.children li {
    display: block;
    display: none;
}
.navLinks > ul li {
        color: #282a2b !important;
    font-family: 'Myriad Pro' !important;
    text-transform: capitalize;
    font-size: 14.5px;
    letter-spacing: 0px;
    height: 40px;
}
.page-title-container {
    display: none !important;
}
.navLinks > ul > li:hover ul.sub-menu  {
    display: block;
    
}
.navLinks > ul > li.menu-item-has-children a {
    padding-bottom: 60px;
}

/*Homepage Slider*/

header {
    z-index: 99;
    position: relative;
}
body.home #main{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-top: -5px;
    height: 100% !important;
}

#wrapper {
    padding-top: 85px;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
    color:#fff !important;
}
/*Homepage Banner*/
.hero_slider .slick-slide {
    min-height: 700px !important;
}
.jumbotron.slick-slide {
    display: flex !important;
    background-size:cover;
}
.jumbotron {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
}
.jumbotron .overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    
}
.overlay#mobile_overlay {
        padding-bottom: 30px;
}
.single-upcoming_auctions .jumbotron .overlay,
.single-sold_auctions .jumbotron .overlay{
    background: rgba(0, 0, 0, 0.0);
}
.jumbotron img.sold {
    width: 200px;
    position: absolute;
    z-index: 9;
    top:0;
    left:0;
}
.jumbotron#jumbotron_about {
    height: 400px;
}
.video-container {
    position: relative;
    display: flex;
    align-items: center;
  justify-content: center;
}
.video-container .banner_text {
    width:70%;
    margin:auto;
    position: absolute;
    z-index: 98;
    height:100%;
    width: 100%;
    background-color: rgba(41, 60, 91, 0.35);
        display: flex;
    align-items: center;
  justify-content: center;
    flex-direction: column;
}
.banner_text h1 {
    font-family: 'Myriad Pro' !important;
    font-size: 50px !important;
    font-weight: normal;
    text-transform: capitalize !important;
    color: #fff !important;
    margin-bottom: 30px;
    text-align: center;
}
.single-upcoming_auctions .banner_text h1,
.single-sold_auctions .banner_text h1 {
    background: rgba(50, 51, 67, 0.75);
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.banner_text h4 {
        font-family: 'Myriad Pro' !important;
    font-size: 36px !important;
    font-weight: normal;
    text-transform: capitalize !important;
    color: #fff !important;
    margin-bottom: 30px;
    text-align: center;
}
.video-container .banner_text h1{
    margin-top: 0;
    margin-bottom: 0;
}
.video-container .banner_text h4 {
margin-top: 15px;
    margin-bottom: 30px;

}
.banner_text p {
    font-family: 'Myriad Pro' !important;
    color: #fff !important;
    text-align: center;
    font-weight: 100;
    display: none;
}

.banner_text p span.big {
    font-size: 32px !important;
    font-weight: normal;
     text-transform: capitalize!important;
    padding-left: 5px;
    letter-spacing: 1.5px;
}
.banner_text h1.capitalize {
    text-transform: capitalize !important;
}
.jumbotron#jumbotron_about {
    font-weight: 600;
}
.banner_text h4 {
    font-family: 'Myriad Pro' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 34px !important;
    letter-spacing: 1px;
    color: #fff !important;
    margin-top: 0;
}
.banner_text h6 {
    font-family: 'Myriad Pro' !important;
    color: #fff !important;
    font-size: 18px !important;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: #02a3d9;
    padding-top: 13px;
    height: 50px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    outline: 0;
}

.fusion-fullwidth.fullwidth-box.maltzer {
    display: none;
}

#post-5 > div > div:nth-child(7) > div {
    display: none;
}
#sliders-container {
    display: none;
}
#post-5 > div > div:nth-child(3) {
    margin-top: 100px !important;
}
body.home .master_slider {
    margin-bottom: 100px;
}


/*Homepage Content*/
body.home #post-5 > div {
    margin: 0 auto;
}

#post-5 > div > div:nth-child(1) > div {
    max-width: 100%;
}



/*Featured In Section*/
.featured_in_section {
    padding-top: 25px;
    padding-bottom: 0;
    background-color: #ebeef7;
        display: flex;
    align-items: center;
    justify-content: center;
}
.featured_in_header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
}
.action_buttons.auction_docs .featured_in_header {
    padding-top: 15px;
    padding-bottom: 0;
}

.featured_in_header img {
    width: 150px !important;
    margin: 0 auto 10px !important;
}
.featured_in_header .blue_bubble {
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    margin: 0 auto;
}
.featured_in_header h1{
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
}
.featured_in_header h1 span a {
    color:inherit;
}
.featured_in_header h1 span {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.5);
    line-height: 1.5em;
}
.featured_in_list {
    width: 100%;
    overflow: hidden;
}
.ctct-disclosure {
    display: none;
}
.featured_in_list div {
    width: 14.28%;
    float: left;
    padding: 15px;
    height: 110px;
        float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured_in_list div img {
    width: 100%;
        -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.featured_in_list div img:hover {
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/*About Us Section*/
.about_us_section {
        display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}

.about_us_section .standard_contain {
    padding-bottom: 20px;
}
.featured_in_header h1{
    text-transform: capitalize;
    text-align: center;
    
}
.featured_in_header h1 span {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.5);
}

.about_us_text p {
    font-family: 'Myriad Pro' !important;
    font-size: 18px !important;
    line-height: 1.75em;
    margin: 30px auto 0;
    font-weight: 300;
    width: 90%;
}
.section_services .about_us_text p {
    font-weight: inherit;
}
.about_us_text ul {
    width: 90%;
    margin: 30px auto 0;
}
.about_us_text h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 0;
    margin-top: 50px;
}
.holder_btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}
button.btn_classic {
    font-family: 'Myriad Pro' !important;
    color:#fff !important;
    font-size: 19px !important;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: #02a3d9;
    padding-top: 7px;
    height: 50px;
    width: 210px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    border: 0;
}
button.btn_classic#extend_300 {
    width: 300px;
}
.about_us_snippets {
    width: 100%;
    padding-top:0;
    padding-bottom:0;
    overflow: hidden;
}
.snippet_container {
text-align: center;
}
.paginate {
    display: block;
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
}
.about_us_snippets#page_contact {
    padding-top: 0;
    padding-bottom: 50px;
}

.about_us_snippets .snippet {
        width: 33.3%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.about_us_snippets.auction_snippets {
/*    text-align: center;*/
}
.about_us_snippets.auction_snippets .snippet {
    float: none;
    vertical-align: top;
}
.auction_snippets .snippet {
    max-width: 24.5%;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}
.psgal {
    padding-bottom: 0 !important;
}

.psgal img {
    min-height: 195px;
}
.auction_docs .auction_snippets .snippet {
    max-width: 15%;
    
}
.about_us_snippets .snippet .featured_in_header .blue_bubble {
    width: 100px;
}
.about_us_snippets .snippet .featured_in_header img {
    width: 50px !important;
}
.about_us_snippets .snippet .featured_in_header img.og {
    max-width: 90px !important;
}
.about_us_snippets .snippet h3 {
    margin-bottom: 10px;
    text-transform: capitalize;
}
.about_us_snippets .snippet p {
        font-family: 'Myriad Pro' !important;
    font-size: 16px !important;
    line-height: 1.75em;
    margin: 0 auto;
    font-weight: 300;
    width: 90%;
}
.about_us_snippets .snippet p a {
    text-decoration: underline;
}

.auction_snippets {
    position: relative;
    background-color: #fff;
}
.snippet_bottom {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    text-align: center;
    width:100%;
}
.snippet_bottom h6 {
    font-size: 14px !important;
    font-weight: bold !important;
    color:#02a3d9;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.snippet_bottom p {
        font-size: 13px !important;
    font-weight: 100 !important;
}

.four_pillars {
    height: 50px;
    background-color: #ebeef7;
    overflow: hidden;
            display: flex;
  align-items: center;
  justify-content: center;
}
.four_pillars > div {
    width: 20%;
    float: left;
    text-align: center;
    border-right: 2.5px solid #ebeef7;
}
.four_pillars > div:last-child {
    border-right: 0;
}
.four_pillars > div p {
        font-family: 'Myriad Pro' !important;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.25px;
    cursor: pointer;
}
.four_pillars > div img {
    width: 25px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: bottom;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.four_pillars > div:first-child img {
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.four_pillars > div:hover img {
        -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
div.featured_text {
    width: 48%;
    float: left;
    margin-right: 2%;
    display: none;
}
div.featured_text {
    color:#888786;
    font-family: 'Myriad Pro', serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;

}
.subscribe_submit {
    width: 90%;
    max-width: 500px;
}
#mailmunch-optin-form {
    background-color: transparent !important;
}
#mailmunch-optin-form p {
    color:#fff !important;
    font-size: 18px !important;
}
.theme #mailmunch-optin-form {
    border:0 !important;
}
div.featured_auctions {
    width: 100%;
    float: none;
    overflow: hidden;
}
.auction_photos {
    border-bottom: 3px solid #ebeef7;
    text-align: center;
}

.auction_photos .gallery-item {
    float: none !important;
    display: inline-block;
}
.auction_info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
.property_map {
    width: 100%;
    overflow: hidden;
}
.property_map .left_map,
.property_map .right_map{
    width: 48%;
    margin-left:1%;
    margin-right: 1%;
    float: left;
    border: 1px solid;
    min-height: 450px;
}
.addtoany_shortcode {
        text-align: center;
    padding-top: 20px;
}
.property_map iframe {
    width: 100% !important;
    max-height: 300px;
}
.auction_info p,
.auction_info ul li {
        font-family: 'Myriad Pro' !important;
    font-size: 16px !important;
    line-height: 1.75em;
    margin: 0 auto;
    font-weight: 300;
}
.auction_info_header {
    border-bottom: 3px solid #02a3d9;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    display: none;
}
.auction_info_subheader {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 90%;
    max-width: 900px;
}
div.disclaimer {
    width: 90%;
    margin: 0 auto;
}
#property_release > div.auction_info_subheader > div.disclaimer {
    margin-top: 50px !important;
}
#property_release > div.auction_info_subheader > div.disclaimer p {
    font-size: 10px !important;
}
div.auction_info_subheader ul li {
    list-style-type: disc;
}
.auction_info_content {
    text-align: center;
}
.auction_info_content ul {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(45, 44, 44, 0.25);
}
.auction_info_content ul li span {
    color:#02a3d9 !important;
    font-size: 28px !important;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
div.featured_auctions h2 {
    color:#2d2c2c;
    -webkit-font-smoothing: antialiased;
    font-size: 24px !important;
    letter-spacing: 1px;
    border-bottom: 1px solid #2d2c2c;
    padding-bottom: 10px;
    text-transform: capitalize !important;
}

.upcoming_auctions {
    width: 90%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.2);
}
.upcoming_auctions div img {
    width: 100%;
    margin-bottom: 50px;
}

.upcoming_auctions#upcoming_auctions_alt .featured_in_header h3 {
    font-size: 24px;
    text-align: center;
}


.test_section {
    background-color: #fff;
    padding-bottom: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.test_section .wrapper {
    width: 70%;
    margin: 20px auto 0;
text-align: center;
}

.test_section h2 {
    font-family: 'Myriad Pro' !important;
    font-size: 30px !important;
    letter-spacing: 0.5px;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
}

.test_section h4 {
    font-family: 'Myriad Pro' !important;
        font-size: 20px;
    text-align: center;
        margin-top:0;
    margin-bottom: 0;
    padding-bottom:13px;
}
.test_section img {
    text-align: center;
    width: 80%;
    margin: 50px auto 0;
}
.quote_box {
    width: 75%;
    margin: 0 auto;
}
.quote_box blockquote {
  quotes: "\201C""\201D""\2018""\2019";
        text-align: left;
        font-family: 'Myriad Pro' !important;
    font-size: 18px !important;
    line-height: 1.75em;
    margin: 45px auto 0;
    font-weight: 300;
    display: inline-block;
    vertical-align: bottom;
    width: 90%;
}
.quote_box h6 {
    font-size: 70px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width: 4%;
    font-style: italic;
}

.quote_box p {
    text-align: right;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.7) !important;
    font-weight: 300;
    letter-spacing: 0;
}
.slick-prev:before, .slick-next:before {
    color:#191919;
    font-size: 30px;
}

.more_offers {
    background-color: #323242;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.more_offers .wrapper {
    width: 85%;
    margin: 0 auto;
}

.more_offers h2 {
    font-family: 'Myriad Pro' !important;
    font-size: 30px !important;
    color:#fff !important;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
}

.more_offers h4 {
    font-family: 'Myriad Pro' !important;
    font-size: 20px !important;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
    color:#fff;
}


.more_offers .wrapper div {
    width: 33.3%;
    float: left;
    padding: 30px;
    text-align: center;
}
.more_offers .wrapper div img {
    width: 100%;
}

.more_offers .wrapper div p {
    font-family: 'Myriad Pro' !important;
    font-size: 13px !important;
    text-transform: capitalize;
    color: #fff !important;
    text-align: left;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
}
.iziModal-content button {
    background: transparent;
    border: 0;
    float:right;
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 15px;
    text-transform: capitalize;
    padding-bottom: 2px;
    border: 1px solid #02a3d9;
    color:#02a3d9;
    transition: 0.5s all ease;
} 
.iziModal-content button:hover {
    background: #02a3d9;
    color:#fff;
}
.subscribers {
    width: 100%;
    padding-top:50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
        display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}
.subscribers form {
    margin-top: 25px;
    color:#fff;
}
.subscribers form a {
    color:#fff;
}
.ctct-form-wrapper input[type="email"]:required:valid {
    background: none !important;
    padding-left: 0 !important;
}
.ctct-form-wrapper .success p {
    color:#fff !important;
}
.subscribers h4,
#spu-710830 h4{
    color: #fff !important;
    font-family: 'Myriad Pro' !important;
    text-transform: capitalize;
    text-align: center;
    font-size: 34px;
        -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.widget_wysija_cont input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff !important;
    font-family: 'Myriad Pro' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    float: none;
    outline: 0;
    display: inline-block;
    box-shadow: none;
    padding: 0;
    width: 400px;
    height: 38px;
}
.widget_wysija_cont input[type="submit"] {
        font-family: 'Myriad Pro' !important;
    color: #fff !important;
    font-size: 13px !important;
    line-height: 1.5em;
    letter-spacing: 0.25px;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: normal;
    border: 0;
    background: #02a3d9 !important;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    width: 120px;
    height: 38px;
    outline: 0;
}
p.wysija-paragraph {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}
#mailpoet_form_1 .mailpoet_validate_success {
        color: #fff !important;
    margin-top: 15px;
}
.subscribers input.wpcf7-form-control.wpcf7-text,
p.ctct-form-field-email input {
    background: transparent;
    width: 300px;
    border: 0;
    border-bottom: 1px solid #fff;
    color:#fff !important;
    font-family: 'Myriad Pro' !important;
        -webkit-font-smoothing: antialiased;
    font-size: 20px;
    float: none;
    outline: 0;
    display: inline-block;
    box-shadow: none;
    padding: 0;
    width:400px;
}
p.ctct-form-field-email label {
        color:#fff !important;
    font-family: 'Myriad Pro' !important;
        -webkit-font-smoothing: antialiased;
    font-size: 20px;
}
.ctct-form-wrapper .ctct-form-field {
    display: inline-block;
}
.ctct-form-wrapper .ctct-form abbr {
    display: none;
}
div.wysijap {
    text-align: center;
    min-height: 400px;
    padding-top:100px
}
div.wysijap .addtoany_share_save_container,
div.wysijap .meta-info{
    display: none;
}
.subscribers input.wpcf7-form-control.wpcf7-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff !important;
}
.subscribers input.wpcf7-form-control.wpcf7-text::-moz-placeholder { /* Firefox 19+ */
  color:#fff !important;
}
.subscribers input.wpcf7-form-control.wpcf7-text:-ms-input-placeholder { /* IE 10+ */
  color:#fff !important;
}
.subscribers input.wpcf7-form-control.wpcf7-text:-moz-placeholder { /* Firefox 18- */
  color:#fff !important;
}
.subscribers input.wpcf7-form-control.wpcf7-submit,
.ctct-form-wrapper .ctct-submit{
           font-family: 'Myriad Pro' !important;
    color: #fff !important;

    font-size: 13px !important;
    line-height: 1.5em;
    letter-spacing: 0.25px;
    padding-top: 5px;
    text-transform: capitalize;
    font-weight: normal;
    border: 0;
    background: #02a3d9 !important;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    width:120px; 
    height: 38px;
    margin-left: 30px;
    outline:0;
}
div.wpcf7-response-output {
        width: 50% !important;
    margin: 10px auto 0 !important;
    color: #fff !important;
}
/*STANDARD PAGE*/
.post-content p {
    line-height: 1.5em;
}
#main .sidebar {
    background-color: #f4f4f4 !important; 
    padding: 10px;
    padding-top: 30px;
    text-align: center;

}
#main .sidebar a:before {
    content: '';
}
#main .sidebar h3 {
    text-transform: capitalize;
}
input#advanced-search-widget-2-s {
    width: 70%;
    height: 35px;
    border: 1px solid #919190;
    text-align: center;
    margin: 0 auto;
}
.widget_search {
    text-align: center;
}

input#advanced-search-widget-2-searchsubmit, 
input#gform_submit_button_2 {
    width: 70%;
    margin: 1px auto;
    height: 46px;
    color: #fff !important;
    background: #02a3d9;
    border: 1px solid #02a3d9;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1.5px;
}
body .gform_wrapper ul li.gfield {
    margin-top: 0 !important;
}
.gform_wrapper .gform_footer {
    margin-top:  0 !important;
}
label.gfield_label {
    display: none !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}

/*NEWS PAGE*/
.news_posts {
    width: 85%;
    margin: 0 auto;
    padding-top: 35px;
}
ul.display-posts-listing li.listing-item {
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

li.listing-item a.title {
    margin-bottom: 5px;
}
li.listing-item span {
        font-family: 'Myriad Pro' !important;
    font-size: 15px !important;
    text-align: left;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    color: #282a2b !important;
    margin-bottom: 0;
}

/*ABOUT PAGE*/


.blue_hero {
    background-image: url('/wp-content/themes/Avada-Child-Theme/images/about_bg.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position:center center;
    margin-bottom: 15px;
}
.blue_content {
    text-align: center;
    padding-top: 80px;
}

.blue_header h1 {
    font-family: 'Myriad Pro' !important;
    font-size: 40px !important;
    color:#282A2B !important;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 40px;
}
.blue_header img {
    width: 100px;
}
.blue_message {
    width: 70%;
    margin: 50px auto 20px;
}
.blue_message p {
    font-family: 'Myriad Pro' !important;
    font-size: 19px !important;
    color: #282A2B !important;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}
.blue_bottom {
    margin-top: 40px;
}
.blue_bottom h4 {
        font-family: 'Myriad Pro' !important;
    font-size: 22px !important;
    -webkit-font-smoothing: antialiased;
}

.blue_bottom a button {
    font-family: 'Myriad Pro' !important;
    color:#fff;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
    height: 50px;
    border: 0;
    width: 300px;
    background-color: #282A2B;
}

.three_prong {
    overflow: hidden;
    margin-bottom: 50px;
}
.three_prong div {
    width: 32.3%;
    float: left;
    text-align: center;
    padding: 60px 20px;
}
.three_prong div:nth-child(1) {
    background-color: #323343;
    margin-right: 1%;
    transition: background-color 0.5s ease;
}
.three_prong div:nth-child(2) {
    background-color: #323343;
    transition: background-color 0.5s ease;
}
.three_prong div:nth-child(3) {
    background-color: #323343;
    margin-left: 1%;
    transition: background-color 0.5s ease;
}
.three_prong div:hover {
    background-color: #282a2b;
}

.three_prong div img {
    height: 70px;
}
.three_prong div h3 {
    color:#fff !important;
}
.three_prong div ul li {
        font-family: 'Myriad Pro' !important;
    font-size: 16px !important;
    color: #fff !important;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

body.single-auction .upcoming_auctions {
    width: 100%;
    margin: 0;
    height: 600px;
    padding-top: 150px;
}
body.page-id-70 .upcoming_auctions div,
body.single-auction .upcoming_auctions div
 {
    width: 100%;
    text-align: center;
    float: none;
    margin: 0 auto 50px;
}

body.page-id-70 .upcoming_auctions div form div.input,
body.single-auction .upcoming_auctions div form div.input{
    display: inline-block;
    vertical-align: middle;
    width: 150px !important;
}

body.page-id-70 .upcoming_auctions div.subscribe_now form div.subscribe_submit,
body.single-auction .upcoming_auctions div.subscribe_now form div.subscribe_submit{
    margin-top: 0 !important;
}




/*AUCTIONS PAGE*/
.auctions_header {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    
    margin-bottom: 100px;
}
body.events-archive .auctions_header{
    background-image:url('/wp-content/uploads/2018/08/sale-at-auction.jpg');
    background-size: cover;
    height: 500px;
}
.auctions_header .wrapper {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #282a2b;
    padding-bottom: 50px;
    position: relative;
}
body.events-archive .auctions_header .wrapper {
    border-bottom: 0;
}
.auctions_header h1 {
    font-family: 'Myriad Pro' !important;
    font-size: 36px !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: px;
    text-align: center;
}
.auctions_cats {
    overflow: hidden;
    margin-bottom: 25px;
}
.auctions_cats div {
    float: left;
    width: 20%;
    padding: 15px;
}
.auctions_cats div img {
    width: 100%;
    opacity:0.9;
}
.auctions_cats div img:hover {
    opacity: 1;
}
.auctions_cats div p {
        font-family: 'Myriad Pro' !important;
    font-size: 13px !important;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
}
img#page_scroll {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.auction_list {
    width: 100%;
    overflow: hidden;
}
.auction_holdings {
    overflow: hidden;
    text-align: center;
}
.auction_list .wrapper {
    width: 94%;
    margin: 0 auto;
}

.auction_holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-top: 15px;
/*    margin-bottom: 15px;*/

    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}
.upcoming_auctions#alt .auction_holder {
        margin-left: 1%;
    margin-right: 1%;
}
.services_tab {
    padding-top: 20px;
}
.testimonials_slider .slick-list {
    height: auto !important;
    max-height: 400px !important;
    overflow: hidden;
}
/*
.testimonials_slider {
    height: auto !important;
}

.quote_box {
    min-height: auto !important;
}
*/
.slick-prev, .slick-next {
    top:25% !important;
}
.auction_holder#row_2 {
        width: 92%;
        height: 400px;
}
.auction_holder#row_3 {
        width: 31.3%;
        height: 280px;
    margin-left: 1%;
    margin-right: 1%;
}
.auction_replaced {
    width: 31.3%;
/*        height: 350px;*/
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
body.home .auction_replaced {
    width: 98%;
}
.auction_replaced .auction_holder {
    width: 100%;
    height: 300px;
}
.auction_holder#row_3 h4,
.auction_replaced h4{
    font-size: 20px !important;
}

.auction_holder#row_3 p,
.auction_replaced p{
    font-size: 19px !important;
    font-weight: 600;
}
.auction_holder#extend_2 {
        width: 64.6%;
        height: 280px;
}

.auction_holder .overlay {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}

.auction_holder_contain {
    overflow: hidden;
    width: 100%;

}
.auction_holder_contain#modified {
    margin-bottom: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    background:#ECEEF7;
    position: relative;
    min-height: 120px;
}
.auction_holder_contain#modified .auction_date {
    position: absolute;
    right: 0;
    top:0;
    margin-top:0;
    border-radius: 0;
        background: url('/wp-content/themes/Avada-Child-Theme/images/arrow_blue.png');
    background-size: cover;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.auction_holder_contain#modified .auction_date h6 {
    background: none;
    display: block;
    border-radius: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    padding-top: 50px;
    font-size:16px !important;
    letter-spacing: 0.5px;
}
.auction_holder_contain#modified h4 {
    font-size: 19px !important;
    text-align: left !important;
    width: 90% !important;
    margin: 0 auto;
    min-height: 35px !important;
}
.auction_holder_contain#modified p {
    font-size: 18px !important;
    text-align: left !important;
    width: 90% !important;
    margin: 0 auto;
}
.auction_holder_contain .auction_detail h4 {
    font-family: 'Myriad Pro' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 32px !important;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: capitalize !important;
    color: #fff !important;
    text-align: center;
    font-weight: 600;
    border-radius: 0;
    background: transparent;
}

.auction_holder_contain .auction_detail h5 {
    font-family: 'EB Garamond', serif !important;
    font-size: 28px !important;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: capitalize !important;
    color: #fff !important;
    text-align: center;
    font-weight: 400;
    width: 95%;
}
.auction_holder_contain .auction_detail p {
        font-family: 'Myriad Pro' !important;
    font-size: 22px !important;
    
    color:#fff !important;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
div.auction_detail > p:nth-child(2) {
    font-weight: 700;
}
.auction_holder_contain .auction_replaced h4
 {
    color:#282a2b !important;
}
.auction_holder_contain .auction_date {
    text-align: center;
    margin-top: 25px;
}
.auction_holder_contain .auction_date h6 {
    font-family: 'Myriad Pro' !important;
    color:#fff !important;
    font-size: 24px !important;
    letter-spacing: 1px;
    padding:5px;
    text-transform: capitalize !important;
    background-color: #3A394B;
    width: 100px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content:center;
     flex-direction: column;
    border-radius: 50%;
    margin: 0 auto;
}
.auction_holder_contain .auction_date h6 span {
    font-weight:normal;
    font-size: 20px !important;
}


/*ACCOUNT PAGE*/
.um-account-meta {
    display: none !important;
}


/*IGNITE*/
.default-video-container {
    max-height: 450px;
}
.default_banner_text {
    top: 75px;
}
.default_banner_text  h1 {
    text-align: center;
}
.auction_contain {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.auctionList {
    width: 31% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    position: relative;
    margin-bottom: 50px;
        background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px !important;
}
div.auctionListing {
    border-radius: 0 !important;
}
div.auctionListingLeft {
    margin-top: 0 !important;
}
.auctionList:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)!important;
}
.auctionList .main_img img {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    border-radius: 0 !important;
}
div.auctionListingMiddle {
    position: absolute !important;
    bottom:0 !important;
    width: 100%;
    margin-left: auto !important; 
    margin-right: auto !important;
    padding: 10px 20px 10px !important;
        background-color: rgba(255, 255, 255, 1) !important;
}
div.auctionListingMiddle h1{
        font-family: 'Myriad Pro' !important;
    font-size: 32px !important !important;
    letter-spacing: 1px;
    text-transform: capitalize !important;
    color: #282a2b !important;
    margin-bottom: 5px;
}
div.auctionListingMiddle h2{
        font-family: 'Myriad Pro' !important;
    font-size: 32px !important !important;
    letter-spacing: 1px;
    color: #282a2b !important;
    margin-bottom: 5px;
        -webkit-font-smoothing: antialiased;
        padding-top: 2px;
        padding-bottom: 10px;
}
div.auctionListingMiddle h2 a {
    color:#282a2b !important;
}
div.auctionListingMiddle span b {
    text-align: left !important;
    color:#282a2b !important;
    -webkit-font-smoothing: antialiased;
}
div.auctionListingMiddle a[title="Details"] {
    text-align: right !important;
    background-color: rgba(50, 50, 66, 0.9);
    color:#fff !important;
    padding: 12px;
    position: absolute;
    font-size: 12px !important;
    right: 10px;
    bottom: 20px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize !important;

}
div.auctionListingMiddle div {
    color:#282a2b !important;
    padding-top: 2px;
}
.bottomPagination {
    width: 100%;
    display: inline-block;
    clear: both;
    margin: 40px auto !important;
}
.imageView {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 230px;
    position: relative;
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.imageView::after {
    content: 'Auction Information';
    font-family: 'Myriad Pro' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 38px !important;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #282a2b !important;
    text-align: center !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid rgba(111, 111, 122, 0.5) !important;
    position: absolute;
    bottom: -190px;
    left: 0;
    right: 0;
    margin: auto;
}
img.main_image {
    width: 100% !important;
    max-width: 500px !important;
}
div#detail-view {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto !important;
    float: none !important;
    clear: both;
}
#detail-view > div:nth-child(3) {
        background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#detail-view div p, #detail-view div p span {
    font-family: 'Myriad Pro' !important;
        color: #282a2b !important;
        font-size: 16px !important;
        font-style: normal;
        max-width: 100%;
        line-height: 1.5em !important;

}

/*SINGLE-AUCTION*/
#hNavWrap {
    background: transparent !important;
    border-bottom: 0 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
}

.action_buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
        position: absolute;
    bottom: 0;
}
.action_buttons.auction_docs {
    position: relative;
    bottom: auto;
}
.action_buttons#split div {
    width: 200px;
    display: inline-block;
    margin: 10px;
}
.action_buttons button a {
    color:#fff;
}
button.btn_small,
button.btn_med {
        font-family: 'Myriad Pro' !important;
    color: #fff !important;
    font-size: 16px !important;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: #02a3d9;
    padding-top: 7px;
    height: 40px;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    border: 0;
}
button.btn_small:hover {
    background-color: #fff;
    color: #02a3d9 !important;
}
button.btn_med {
    width:400px;
    height: 60px;
}
.div_trigger {
    text-align: center;
}
.login_control {
    text-align: center;
}

.iziModal-content {
    padding: 20px !important;
}

.subscribe_modal .iziModal-content {
    padding: 2px !important;
}
.subscribe_modal .iziModal-content span#url_new a {
    color:#fff !important;
    text-decoration: underline;
    text-align: left;
}
#modal form#loginform {
    width: 70%;
    margin: 0 auto;
}
#modal form#loginform label {
    display: block;
    margin-bottom: 10px;
}

#modal form#loginform input#user_login,
#modal form#loginform input#user_pass{
    font-family: 'Myriad Pro' !important;
    font-weight: 300;
    font-size: 16px !important;
    padding: 10px !important;
    float: none;
    outline: 0;
    margin-bottom: 5px;
    box-shadow: none;
    width: 100%;
    background-color: #fff !important;
    border: 1px solid #d2d2d2;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#modal form#loginform input#wp-submit {
        width: 97%;
    margin: 1px auto;
    height: 46px;
    color: #fff !important;
    background: #02a3d9;
    border: 1px solid #02a3d9;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1.5px;
}
.iziModal-content p#trigger_reg {
    width: 70%;
    margin: 0 auto;
    text-decoration: underline;
    cursor: pointer;
}


/*FAVORITES*/
button.simplefavorite-button {
            font-family: 'Myriad Pro' !important;
    color: #fff !important;
    font-size: 30px !important;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: transparent;
    padding-top: 7px;
    height: 40px;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    border: 0;
}
body.single-upcoming_auctions button.simplefavorite-button,
body.single-sold_auctions button.simplefavorite-button{
    width:180px;
    font-size: 16px !important;
    background:#02a3d9;
}
button.simplefavorite-button {
    position: absolute;
    left: 0;
    bottom: 0;
}
.contact_trigger button.btn_small {
        position: absolute;
    right: 0;
    bottom: 0;
}

ul.favorites-list {
    overflow: hidden;
    padding-top: 50px;
}
ul.favorites-list li {
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    text-align: center;
}
ul.favorites-list li img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fav_btn_holder {
    top: 0;
    right: 0;
    position: absolute;
}
.simplefavorites-modal-content-body {
    max-height: 600px !important;
}
.simplefavorites-modal-content-body .um {
    opacity: 1 !important;
}

<<<<<<< HEAD
=======

/*ACCOUNT*/

.um-account-side {
    margin: 0 auto;
}
.um-account-main, .um-account-side {
    float: none;
}
.member_contain {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    margin: 0 auto;
    text-align:center;
    overflow: hidden;
}

.member_block {
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    height: 130px;
    background: #ebeef7;
    padding:15px;
    text-align: center;
    opacity: 0.9;
}
.member_block:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #333244;
}
.dark {
   background-color: #333244; 
    color:#fff !important;
}
.member_block:hover h4, .member_block:hover a {
    color:#fff;
    
}
.member_block img {
    height: 60px;    
}
.member_act {
    display: none;
}
.member_act_content {
    text-align: center;
}
#email_preferences form input[type=submit],
input#um-submit-btn{
        font-family: 'Myriad Pro' !important;
    color: #fff !important;
    font-size: 19px !important;
    line-height: 1.5em;
    text-transform: capitalize !important;
    background-color: #02a3d9;
    padding-top: 7px;
    height: 50px;
    width: 210px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600 !important;
    border: 0 !important;
    background-image: none;
}

div.wpcf7-mail-sent-ok {
    background: #398f14;
}

>>>>>>> cec61ddcde540877e4d1c74c422cc45cc4ffabb2
/*SERVICES*/
.services_tab {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    background-color: #ebeef7;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    overflow: hidden;
    height: 130px;
}

.services_tab div {
    float: left;
    width: 14.28%;
    text-align: center;
}
.services_tab div:hover {
    cursor: pointer;
}
.services_tab div img {
    width: 60px;
    margin: 0 auto;
        -webkit-transition: width 0.75s; /* Safari */
    transition: width 0.75s;
}
.services_tab div img:hover {
    width: 70px;

}
.services_tab div h6 {
    font-size: 14px !important;
    font-family: 'Myriad Pro' !important;
    text-transform: capitalize;
    font-weight: normal;
    margin-top: 20px;
            -webkit-transition: font-weight 0.75s; /* Safari */
    transition: font-weight 0.75s;
}
.services_tab div:hover h6 {
    font-weight: bold;
}
.section_services {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*CONTACT*/
.contact_banner_text {
    top: 150px;
}
.contact_banner_text h1{
    text-align: center;
    text-transform: capitalize !important;
}
.contact-video-container {
    max-height: 700px;
}
.contact_standard_contain {
      margin-top: -200px; 
}
.contact_section {
 
    margin-bottom: 100px;
        background-color: white;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    border-radius: 5px;
    -z-index: 99999;
    padding: 25px;
    position: relative;
}
.contact_section_header {
    margin-bottom: 50px;
}
.contact_section h1{
    text-align: center;
    text-transform: capitalize;
}
.contact_section h1 span{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.5);
}

.section_contact iframe {
    margin: 0 auto !important;
    text-transform: center;
    width: 90%;
}
.gform_wrapper {
    margin: 0 auto !important;
    width: 85%;
}
.gform_wrapper .gfield_required {
    display: none;
}
.ginput_complex label {
    display: none !important;
}
.gform_wrapper input,
.gform_wrapper textarea {

    font-family: 'Myriad Pro' !important;
    font-weight:300;
    font-size: 16px !important;
    padding: 10px !important;
    float: none;
    outline: 0;
    margin-bottom: 5px;
    box-shadow: none;
}
input#advanced-search-widget-2-searchsubmit, input#gform_submit_button_2 {
    width: 100%;
}


.section_contact {
    width:100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section_contact .left {
    width: 50%;
    float: left;
}
.section_contact .right {
    width: 50%;
    float: left;
    text-align: center;
}


/*TESTIMONIALS FRONT PAGE*/
.test_select {
    height: 70px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto 50px;
/*    background: #2E3B5C;*/
        box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;

}
.slick-track {
    min-width: 900px !important;
}
.test_press {
    float:left;
    width: 25%;
    text-align: center;
    cursor: pointer;
    transition: all 450ms;
        height:100%;
    background: #2E3B5C;
        display: flex;
    align-items: center;
    justify-content: center;
}
.test_press:hover {
    background: #e9eaee;
}
.test_press h3 {
    color:#fff !important;
    text-transform: capitalize;
}
.test_press:hover h3 {
    color:#2E3B5C !important;
}
.test_press.highlight h3 {
    color:#2E3B5C !important;
}
.test_press.highlight {
    background: #e9eaee;
}

/*RESPONSIVE*/

@media screen and (max-width: 1090px) {
    .logo_contain  {
        width: 260px;
    }
        body.home .master_slider {
        margin-bottom: 50px;
    }
    div.featured_text {
        width: 100%;
        float: none;
        margin:0 auto 50px;
    }
    div.featured_auctions {
        width: 100%;
        float: none;
        margin:0 auto;
    }
    .auction_holder#row_2 {
        width: 100%;
        height: 300px;
        display: none;
    }
    .auction_holder#row_2:first-child {
        display: block;
    }
    .upcoming_auctions div.subscribe_now h2 {
        margin-top: 0 !important;
    }
     .upcoming_auctions .subscribe_now {
        text-align: center;
        margin-bottom: 50px !important;
     }
     .upcoming_auctions  .subscribe_submit {
        margin-top: 50px !important;
     }
     .test_section .wrapper {
        width: 90%;
     }
     .test_section h2 {
        float: none;
        margin-bottom: 20px;
     }
     .test_section h4 {
        float: none;
        margin-left: 0;
     }


     /*ABOUT PAGE*/
     .blue_message {
        width: 90%;
     }
     .blue_content {
        padding-top: 30px;
     }
}
@media screen and (max-width: 690px) {
    .auction_holder_contain#modified h4 {
        font-size:17px !important;
    }
    .auction_docs .auction_snippets .snippet {
            max-width: 100%;
    }

    .auction_detail {
        width: calc(100% - 100px);
    }
    .auction_snippets .snippet {
        max-width: 100%;
    }
    .property_map .left_map, .property_map .right_map {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .standard_contain {
        width: 95%;
    }
    .four_pillars {
        height: auto;
        display: block;
    }
    .four_pillars > div p {
        font-size: 11px;
    }
    .four_pillars > div img {
        display: block;
        margin: 0 auto 10px;
        
    }
    
    .logo_contain  {
        width: 220px;
        margin-left: 0;
        margin-right: auto;
    }
    .jumbotron {
        height: 350px;
    }
    .more_offers .wrapper div {
        width: 100%;
        float: none;
    }
    .more_offers h2 {
        line-height: 1.25em !important;
    }
    footer {
        text-align: center;
    }
    .featured_in_section {
        padding-bottom: 0;
    }
    .about_us_section {
        padding-top: 0;
    }
    .banner_text {
        top:0;
        width: 100%;
        text-align: center;
        margin: 0 auto;

    }
    .banner_text h1 {
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .banner_text h4 {
        font-size: 20px !important; 
    }
    .banner_text h6 {
        width: 100%;
        margin: 10px auto;
        font-size: 16px;
    }

    .featured_in_list div {
        width: 70%;
        margin: 0 auto;
        float: none;
        padding: 10px;
        display: none;
    }
    .featured_in_list div:first-child {
        display: block;
    }
    .upcoming_auctions {
        margin-top: 10px;
    }
    .test_section img {
        width: 97%;
    }
    .subscribers input[type=submit] {
        width: 300px;
        margin-left: 0;
    }
    .news_posts {
        width: 100%;
    }
    .test_select {
        height: auto;
    }
    .test_press {
        width: 100%;
        float: none;
    }


    /*ABOUT PAGE*/
    .blue_header img {
        width: 50px;
    }
    .blue_header h1 {
        font-size: 24px !important;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .blue_message {
        margin-top: 20px;
    }
    .blue_message p {
        font-size: 14px !important;
        letter-spacing: 1px;
        line-height: 1.25em;
    }
    .three_prong div {
        float: none;
        margin:0 auto 10px !important;
        width: 100%;
    }


    /*AUCTION PAGE*/
    .auctions_cats div {
        float: none;
        width: 100%;
        padding: 0;margin-bottom: 10px;
    }
    .auction_holder {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .auction_holder#row_3,
    .auction_holder#extend_2,
    .auction_replaced{
        width: 100%;
        height: 230px;
    }
    .auction_replaced {
        height: auto;
    }
    .auction_replaced .auction_holder {
        height: 250px;
        margin-bottom: 0;
    }
    .auction_holder_contain .auction_detail h4 {
        font-size: 18px !important;
    }
    body.page-id-7 .upcoming_auctions {
        padding-top: 100px;
    }
        .auction_list {
        width: 100% !important;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .quote_box blockquote {
        width: 90%;
    }

    /*CONTACT PAGE*/
    .contact_standard_contain {
        margin-top: -100px;
    }
    body.page-id-72 .banner_text {
        top: 10px;
    }
    body.page-id-72 iframe {
        height: 200px;
    }
    .gform_wrapper {
        width: 100%;
    }
    
    .subscribers input.wpcf7-form-control.wpcf7-text {
        width:80% !important;
        margin-bottom: 10px;
    }
    .subscribers input.wpcf7-form-control.wpcf7-submit {
        width:80%;
        margin: 0 auto;
        display: block;
    }
    .about_us_snippets .snippet {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .section_contact .left,
    .section_contact .right,
    .section_contact iframe{
        width:100%;
    }
    ul.favorites-list li {
        width: 100%;
        margin: 0 auto;
    }
    
    .member_block {
        width: 48%;
        margin-bottom: 10px;
    }
    .hero_slider .slick-slide {
        min-height: 300px !important;
    }
    .jumbotron img.sold {
        width: 100px;
    }
    .auction_detail {
        width: 100%;
    }
    .quote_box blockquote {
        font-size: 16px !important;
    }
    .fusion-social-links-footer {
        text-align: center;
    }
    .slick-next {
        right: 0px !important;
    }
    .slick-prev {
    left: -15px !important;
    }
    .quote_box blockquote {
        
    }
    .share {
        display: none;
    }
}


/*PRINTER SETTINGS*/
@media print { 
	/* Print Styles Go Here */
	 .navLinks, .jumbotron, footer,
    .four_pillars,
    .subscribers,
    .auction_info_content,
    .property_map{ 
         display: none !important;
        
    } 
    .header_wrap {
        position: relative;
    }
}