/*

Theme Name: Avada Child

Description: Child theme for the Avada

Author: Your name here

Template: Avada

*/

iframe{
    pointer-events: none !important;
}

.header-social .header-info,

.header-social .top-menu {

  line-height: 43px; font-size:16px;

}



nav#nav, nav#sticky-nav {

    font: 14px/16px muli,arial,helvetica,sans-serif;

}
#footer {
    background-color: rgba(50, 51, 67, 1) !important;
}
.footer-area {
    background-color: #FBFBFB !important;
}
.footer-area ul li a {

    padding: 6px 0px;

    border-bottom: 1px solid #282A2B;

    display: block;

}
.avada-row {
    max-width: 100% !important;
}


.footer-area h3 {

    margin: 0px 0px 10px 0;}

   



.single-navigation {

    height: 34px;

    line-height: 34px;

    border-top: 1px solid #E7E6E6;

    border-bottom: 1px solid #E7E6E6;

    margin-bottom: 20px;

    text-align: right;

}



.fusion-reading-box-container {

    z-index: 1;

    position: relative;

    margin-bottom: 20px;

}



.sidebar .widget {

    margin-bottom: 20px;

    position: relative;

}



.sgjvs_widget_title { border-bottom:1px solid #CCC;}



.post {margin-bottom: 30px;}



/*

dl {

    margin: -200px 0 0!important;

}

.fusion-fullwidth.fullwidth-box {

    margin-top: -132px;

} */



.soldy{background:url('/wp-content/uploads/2015/03/soldOver.png');

}

.slidedeck-frame.lens-polarad {

 height: 270px !important;}



body{font: 16px muli!important;}





#nav.nav-holder .navigation > li > a{font-size:18px;text-shadow:2px 2px 1px #000}





#acListWrap .pagination.ui-buttonset {

    float: none;

}

#SlideDeck-217 .slide-title, #SlideDeck-217-frame .sd2-custom-title-font, #SlideDeck-217 .sd2-slide-title {

    font-family: muli!important;}

.auctionList h1 {

    font-size: 17px;

    padding: 2px 0 2px 12px;

}

.buttons {

    14px 0 10px 0 

    padding: 1px;

}

div.auctionListLinks {

    border: 0 none;

    margin-bottom: 0px;

    padding: 0px;

}

.buttons.ignite-photos {

    display: none;

}



#acListWrap p, hr, dl, pre, form, table, address, blockquote {

    margin: 2px 0;

}

#main {

    padding-bottom: 20px!important;

    padding-top: 5px!important;

}



.bottomPagination {

    margin: 12px!important;

}

.topPagination {

    display: none;

}



.page-title-container {

    height: 30px!important;

}

.header-v4 #header {

    padding-bottom: 10px!important;

    padding-top: 10px!important;

}

.header-v4 #nav ul li > a, .header-v4 .navigation li.current-menu-ancestor > a {

    border-top: 0 none;

    text-shadow: 1px 1px 0 #000 !important;

}

#ignite_auction_fader {

margin: 6px 0!important;

height: 220px!important;

}

.sd2-slide-title-inner {

    font-size: 18px;color:#1a80b6;

}

#glt-translate-trigger {

    background: rgba(0, 0, 0, 0) linear-gradient(#ccc, #555) repeat scroll 0 0!important;

}

.sd2-small .slide-source-custom.slide-type-image .sd2-node-caption .sd2-slide-text {

    font-size: 16px!important;

}

.maltzer{height:246px;}

.tfs-slider .buttons a {

    color: #eee !important;

    display: inline-block;

    margin: 0;

}



#document > a {

    background: #283b5b none repeat scroll 0 0;

    border: 2px solid #000;

    color: #fff !important;

    font: bold 16px arial !important;

    padding: 10px 4px 10px 0 !important;

    text-align: center;

}

#glt-translate-trigger {

    background: rgba(0, 0, 0, 0) linear-gradient(#fbb450, #f89406) repeat scroll 0 0;

    border-top-left-radius: 0px!important;

    border-top-right-radius: 0px!important;}

#nav ul ul, #sticky-nav ul ul {

    width: 225px!important;

}

div.auction {

    padding-right: 0px!important;}

#acDetailPrimaryEvents {

    display: none!important;}

.viewport {

    float: left!important;

}

#acDetailFooter {

    border-top: 0px solid #ccc!important;float:left;}

#summaryWrap {

    width: 100%;}

#vNavWrap {
display: none;
  margin:0 ;}



#wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a {

    font-size: 17px!important;

}

#wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .side-nav li li a, .side-nav li.current_page_item li a {

    background: #444 none repeat scroll 0 0;

    color: #ffffff!important;

}





#vNavWrap a {

    background: #6f6f7a;

    color: #fff !important;

    font: bold 16px arial !important;

    padding: 10px 4px !important;
        padding-top: 13px !important;
    padding-bottom: 13px !important;


}

.vNavFirst .tSubmenu a {

    font: 14px arial !important;

    margin: 0 0 2px!important;

}

.vNavItem .tSubmenu a {

    font: bold 12px arial !important;

    margin: 0 0 2px 0px!important;

}
#hNavWrap ol li {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
#hNavWrap ol li a, #hNavWrap ol li.selected a{

font-family: 'PF Encore Sans Pro Book' !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 19px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: rgba(50, 50, 66, 1) !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 0 !important;
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 190px !important;

}
#hNavWrap ol li.selected a {
    padding-top: 10px !important;
}
#hNavWrap ol li a img {
    display: none !important;
}
.vNavItem a {
    font-family: 'PF Encore Sans Pro Book' !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 17px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: capitalize;
    background-color: #6f6f7a !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 0 !important;
    max-height: 50px;
    margin-bottom: 3px !important;

}
.vNavItem a img {
    display: none !important
}
#vNavWrap {
    width: 20% !important;
}


.error_page .useful_links {

    display: none;
}

#ignite_auction_fader a img {
    border: 1px solid #000000;
    box-shadow: none !important;
}

a.search-link {display:none!important;}
a.search-link::after {
    display: none!important;
}

#searchform{float:right;margin:0 10px;}
.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    width: 40%;}


#wrapper .search-table {
    display: table;
    margin: 5px 0 0;
    width: 100%;
}
.slide-source-custom.slide-type-image.custom-layout-caption.custom-caption-position-bottom .sd2-node-caption{max-width:unset!important}
.slidedeck-custom-css-wrapper-3509 .slide-source-custom.slide-type-image.custom-layout-caption.custom-caption-position-bottom .sd2-node-caption p {
    color: black;
    width: 100%;
    font-weight: bold!important;
}






















/*

Updates

Description: Redesign

Author: Sean

Date: 5/2-17

*/

/*Fonts*/

@font-face {
    font-family: 'PF Encore Sans Pro Book';
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.eot');
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.woff2') format('woff2'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.woff') format('woff'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.ttf') format('truetype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Book.svg#PFEncoreSansPro-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PF Encore Sans Pro Bold';
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.eot');
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.woff2') format('woff2'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.woff') format('woff'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.ttf') format('truetype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Bold.svg#PFEncoreSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Encore Sans Pro Medium';
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.eot');
    src: url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.woff2') format('woff2'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.woff') format('woff'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.ttf') format('truetype'),
        url('/wp-content/themes/Avada/fonts/PFEncoreSansPro-Medium.svg#PFEncoreSansPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/*Sitewide*/
p, h1, h2, h3, input, textarea, select {
    color:#282a2b !important;
    font-family: 'PF Encore Sans Pro Book' !important;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
span.azul {
    color:#1e87d7;
}
.contain_90 {
    width: 90%;
    margin:0 auto;
    overflow: hidden;   
    padding-bottom: 50px;
}
.standard_contain {
    width: 86%;
    margin:0 auto;
    overflow: hidden;
}
.wide_contain {
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}



/*Header Old*/
.header-social {
    display: none;
}
header#header {
    display: none;
}
div#small-nav {
    display: none;
}


/*Header New*/

.header_wrap {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    height: 85px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.logo_contain {
    width: 25%;
    float: left;
}
.logo_contain img {
    width: 100%;
    max-width: 250px;
}
ul.sub-menu {
    position: absolute;
    left: -30px;
    top:33px;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background-color: #323343;
    padding:10px;
    padding-left: 20px;
    padding-bottom: 0;

    display:none;
    text-align: left;
    width: 280px;
    border: 1px solid #323343;
}
ul.sub-menu li {
    padding: 5px 3px 3px;
    -webkit-font-smoothing: antialiased;
}
.navLinks ul.sub-menu li a {
    color:rgba(255, 255, 255, 0.8) !important;
}
.navLinks ul.sub-menu li a:hover {
    color:rgba(255, 255, 255, 1) !important;
}
.navLinks {
    width: 75%;
    float: left;
    padding-top: 23px;
    text-align: center;
}
.navLinks > ul > li {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.navLinks > ul > li a:hover {
    color:#323343 !important;
}
.navLinks > ul.children li {
    display: block;
    display: none;
}
.navLinks > ul li {
        color: #282a2b !important;
    font-family: 'PF Encore Sans Pro Book' !important;
    text-transform: uppercase;
    font-size: 14.5px;
    letter-spacing: 0.25px;
    height: 40px;
}
.page-title-container {
    display: none !important;
}
.navLinks > ul > li:hover ul.sub-menu  {
    display: block;
}

/*Homepage Slider*/
/*div#sliders-container {
    height: 600px !important;
}

.fusion-slider-container.full-width-slider-container {
    height: 600px !important;
    max-height: 600px !important;
}

.background.background-image {
    height: 600px !important;
}
*/
header {
    z-index: 99;
    position: relative;
}
body.home #main{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-bottom:30px;
    margin-top: -5px;
}

#wrapper {
    padding-top: 85px;
}

/*Homepage Banner*/
.video-container {
    max-height: 500px;
    overflow: hidden;
}
video.fillWidth {
    width: 100%;
}
.banner_text {
    position: absolute;
    top:75px;
    width: 80%;
    left: 0;
    right: 0;
    text-align: left;
    margin:auto;
}
.banner_text h1 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 70px !important;
    letter-spacing: 1px;
    text-transform: capitalize !important;
    color: #fff !important;
    margin-bottom: 30px;
}
.banner_text h4 {
    font-family: 'PF Encore Sans Pro Book' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 28px !important;
    letter-spacing: 1px;
    color: #fff !important;
}
.banner_text h6 {
    font-family: 'PF Encore Sans Pro Book' !important;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 20px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-bottom: 10px;
    text-transform: capitalize; !important;
    background-color: rgba(50, 50, 66, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
}

/*.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}*/
/*.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}*/
.fusion-fullwidth.fullwidth-box.maltzer {
    display: none;
}

#post-5 > div > div:nth-child(7) > div {
    display: none;
}
#sliders-container {
    display: none;
}
#post-5 > div > div:nth-child(3) {
    margin-top: 100px !important;
}
body.home .master_slider {
    margin-bottom: 100px;
}


/*Homepage Content*/
body.home #post-5 > div {
    margin: 0 auto;
}

#post-5 > div > div:nth-child(1) > div {
    max-width: 100%;
}



/*Featured In Section*/
.featured_in_section {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.2);
}
.featured_in_header h1{
    text-transform: uppercase;
    text-align: center;
    
}
.featured_in_header h1 span {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.5);
}
.featured_in_list {
    width: 100%;
    overflow: hidden;
}

.featured_in_list div {
    width: 20%;
    float: left;
    padding: 30px;
    height: 110px;
        float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured_in_list div img {
    width: 100%;
        -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.featured_in_list div img:hover {
    cursor: pointer;
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}



div.featured_text {
    width: 48%;
    float: left;
    margin-right: 2%;
    display: none;
}
div.featured_text {
    color:#888786;
    font-family: 'PF Encore Sans Pro Book';
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;

}
div.featured_auctions {
    width: 100%;
    float: none;
    overflow: hidden;
}



div.featured_auctions h2 {
    color:#2d2c2c;
    -webkit-font-smoothing: antialiased;
    font-size: 24px !important;
    letter-spacing: 1px;
    border-bottom: 1px solid #2d2c2c;
    padding-bottom: 10px;
    text-transform: capitalize !important;
}

body.home .auction_holder {
    width: 100%;
}
body.home .auction_holder.main_auction {
    margin-top: 25px;
    margin-left: 0 !important;
    margin-bottom: 0;
}
    
body.home .upcoming_auctions .auction_holder {
    width: 31%;
    padding: 0;
}
body.home .upcoming_auctions {
    width: 90%;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.2);
}
.upcoming_auctions {
    overflow: hidden;
    width: 85%;
    margin: 50px auto 0;
}
.upcoming_auctions .auction_holder div:nth-child(1) {
    margin-right: 2%;
}
.upcoming_auctions .auction_holder div:nth-child(2) {
    margin-left: 2%;
}
.upcoming_auctions .auction_holder div:nth-child(3) {
    margin-right: 2%;
}
.upcoming_auctions .auction_holder div:nth-child(4) {
    margin-left: 2%;
}
.upcoming_auctions div img {
    width: 100%;
    margin-bottom: 50px;
}


.upcoming_auctions div.subscribe_now h3 {
    font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 20px !important;
    letter-spacing: 0.5px;
}

.upcoming_auctions div.subscribe_now h2 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    font-size: 34px !important;
    margin-top: 25px;
    margin-bottom: 35px;
    line-height: 1.25em !important;
}
.upcoming_auctions div.subscribe_now > p {
    font-style: italic;
    -webkit-font-smoothing: antialiased;
}
.upcoming_auctions div.subscribe_now form input [type="radio"]{
    display: inline-block;
    vertical-align: middle;
}
.upcoming_auctions div.subscribe_now p {
        font-size: 13px;
    display: inline-block;
    vertical-align: bottom;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}
.upcoming_auctions div.subscribe_now p strong {
    font-family: 'PF Encore Sans Pro Medium' !important;
}

.upcoming_auctions div.subscribe_now form div.subscribe_submit {
    float: none;
    width: 100%;
    margin-top: 30px;
}
.upcoming_auctions div.subscribe_now form div.subscribe_submit input[type="text"] {
    width: 200px;
    height: 42px;
    border: 1px solid #919190;
    padding-left: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.upcoming_auctions div.subscribe_now form div.subscribe_submit input[type="text"]::placeholder {
    color: #888786 !important;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}
.upcoming_auctions div.subscribe_now form div.subscribe_submit input[type="submit"] {
    width: 100px;
    height: 42px;
    color:#fff !important;
    background-color: #323242;
    border: 1px solid #323242;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.test_section {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    margin: 0 auto;
}
.test_section .wrapper {
    width: 70%;
    margin: 50px auto 0;
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
padding: 0 0 20px;
text-align: center;
}

.test_section h2 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    font-size: 30px !important;
    letter-spacing: 0.5px;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
}

.test_section h4 {
    font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 18px !important;
        margin-top:4px;
    margin-bottom: 0;
    background-color: #EEEEEE;
    padding-top: 13px;
    padding-bottom:13px;
}
.test_section img {
    text-align: center;
    width: 80%;
    margin: 50px auto 0;
}

.more_offers {
    background-color: #323242;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.more_offers .wrapper {
    width: 85%;
    margin: 0 auto;
}

.more_offers h2 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    font-size: 30px !important;
    color:#fff !important;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
}

.more_offers h4 {
    font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 20px !important;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
    color:#fff;
}


.more_offers .wrapper div {
    width: 33.3%;
    float: left;
    padding: 30px;
    text-align: center;
}
.more_offers .wrapper div img {
    width: 100%;
}

.more_offers .wrapper div p {
    font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 13px !important;
    text-transform: uppercase;
    color: #fff !important;
    text-align: left;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
}
.subscribers {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.subscribers form {
    margin-top: 25px;
}
.subscribers h4 {
    color: #fff !important;
    font-family: 'PF Encore Sans Pro Book' !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
        -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}

.subscribers input[type=text] {
    background: transparent;
    width: 300px;
    border: 0;
    border-bottom: 1px solid #fff;
    color:#fff !important;
    font-family: 'PF Encore Sans Pro Book' !important;
        -webkit-font-smoothing: antialiased;
    font-size: 20px;
}
.subscribers input[type=submit] {
        font-family: 'PF Encore Sans Pro Book' !important;
    color: #fff !important;

    font-size: 15px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 5px;
    text-transform: uppercase;
    border: 0;
    background-color: rgba(50, 50, 66, 0.8);
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    width:150px;
}

/*STANDARD PAGE*/
.post-content p {
    line-height: 1.5em;
}
#main .sidebar {
    background-color: #f4f4f4 !important; 
    padding: 10px;
    padding-top: 30px;
    text-align: center;

}
#main .sidebar a:before {
    content: '';
}
#main .sidebar h3 {
    text-transform: uppercase;
}
input#advanced-search-widget-2-s {
    width: 70%;
    height: 35px;
    border: 1px solid #919190;
    text-align: center;
    margin: 0 auto;
}
.widget_search {
    text-align: center;
}

input#advanced-search-widget-2-searchsubmit, 
input#gform_submit_button_2 {
    width: 70%;
    margin: 1px auto;
    height: 40px;
    color: #fff !important;
    background: #323242;
    border: 1px solid #323242;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
}
label.gfield_label {
    display: none !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}

/*NEWS PAGE*/
.news_posts {
    width: 85%;
    margin: 0 auto;
    padding-top: 35px;
}
ul.display-posts-listing li.listing-item {
    padding: 30px 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}

li.listing-item a.title {
    margin-bottom: 5px;
}
li.listing-item span {
        font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 15px !important;
    text-align: left;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    color: #282a2b !important;
    margin-bottom: 0;
}

/*ABOUT PAGE*/


.blue_hero {
    background-image: url('/wp-content/themes/Avada-Child-Theme/images/about_bg.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position:center center;
    margin-bottom: 15px;
}
.blue_content {
    text-align: center;
    padding-top: 80px;
}

.blue_header h1 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    font-size: 40px !important;
    color:#282A2B !important;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}
.blue_header img {
    width: 100px;
}
.blue_message {
    width: 70%;
    margin: 50px auto 20px;
}
.blue_message p {
    font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 19px !important;
    color: #282A2B !important;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}
.blue_bottom {
    margin-top: 40px;
}
.blue_bottom h4 {
        font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 22px !important;
    -webkit-font-smoothing: antialiased;
}

.blue_bottom a button {
    font-family: 'PF Encore Sans Pro Bold' !important;
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    height: 50px;
    border: 0;
    width: 300px;
    background-color: #282A2B;
}

.three_prong {
    overflow: hidden;
    margin-bottom: 50px;
}
.three_prong div {
    width: 32.3%;
    float: left;
    text-align: center;
    padding: 60px 20px;
}
.three_prong div:nth-child(1) {
    background-color: #323343;
    margin-right: 1%;
    transition: background-color 0.5s ease;
}
.three_prong div:nth-child(2) {
    background-color: #323343;
    transition: background-color 0.5s ease;
}
.three_prong div:nth-child(3) {
    background-color: #323343;
    margin-left: 1%;
    transition: background-color 0.5s ease;
}
.three_prong div:hover {
    background-color: #282a2b;
}

.three_prong div img {
    height: 70px;
}
.three_prong div h3 {
    color:#fff !important;
}
.three_prong div ul li {
        font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 16px !important;
    color: #fff !important;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

body.single-auction .upcoming_auctions {
    width: 100%;
    margin: 0;
    height: 600px;
    padding-top: 150px;
}
body.page-id-70 .upcoming_auctions div,
body.single-auction .upcoming_auctions div
 {
    width: 100%;
    text-align: center;
    float: none;
    margin: 0 auto 50px;
}

body.page-id-70 .upcoming_auctions div form div.input,
body.single-auction .upcoming_auctions div form div.input{
    display: inline-block;
    vertical-align: middle;
    width: 150px !important;
}

body.page-id-70 .upcoming_auctions div.subscribe_now form div.subscribe_submit,
body.single-auction .upcoming_auctions div.subscribe_now form div.subscribe_submit{
    margin-top: 0 !important;
}




/*AUCTIONS PAGE*/
.auctions_header {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    
    
    margin-bottom: 100px;
}
.auctions_header .wrapper {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #282a2b;
    padding-bottom: 50px;
    position: relative;
}
.auctions_header h1 {
    font-family: 'PF Encore Sans Pro Bold' !important;
    font-size: 36px !important;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: px;
    text-align: center;
}
.auctions_cats {
    overflow: hidden;
    margin-bottom: 25px;
}
.auctions_cats div {
    float: left;
    width: 20%;
    padding: 15px;
}
.auctions_cats div img {
    width: 100%;
    opacity:0.9;
}
.auctions_cats div img:hover {
    opacity: 1;
}
.auctions_cats div p {
        font-family: 'PF Encore Sans Pro Medium' !important;
    font-size: 13px !important;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
}
img#page_scroll {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.auction_list {
    width: 100%;
    overflow: hidden;
}
body.home .auction_holdings {
    height: 750px;
    overflow: hidden;
}
.auction_list .wrapper {
    width: 94%;
    margin: 0 auto;
}

.auction_holder {
    height: 350px;
    width: 31%;
    background-size: contain;
    background-position: top center;
    float: left;
    margin-bottom: 50px;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;

    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
}
.auction_holder:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)!important;
}

.auction_holder_contain {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 125px;

}
.auction_holder_contain .auction_detail {
    float: left;
    width: 60%;
    bottom: 20px;
    position: absolute;
}
.auction_holder_contain .auction_detail h4 {
    font-family: 'PF Encore Sans Pro Book' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 24px !important;
    letter-spacing: 1px;
    text-transform: capitalize !important;
    color:#282a2b !important !important;
    margin-bottom: 5px;
}
.auction_holder_contain .auction_detail p {
        font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 14px !important;
    text-align: left;
    letter-spacing: 1.5px;
    color:#282a2b !important;
    margin-top: 5px;
    margin-bottom: 0;
}
.auction_holder_contain .auction_date {
    float: right;
    width: 40%;
        bottom: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
}
.auction_holder_contain .auction_date h6 {
    font-family: 'PF Encore Sans Pro Book' !important;
    color:#fff !important;
    -webkit-font-smoothing: antialiased;
    font-size: 20px !important;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-bottom: 10px;
    text-transform: uppercase !important;
    background-color: rgba(50, 50, 66, 0.9);
    width: 80px;
    margin: 0 20px 0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}

body.page-id-7 .upcoming_auctions,
body.page-id-68 .upcoming_auctions {
    width: 100%;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 200px;
    height: 700px;
}
body.page-id-7 .upcoming_auctions div,
body.page-id-68 .upcoming_auctions div {
    float: none !important;
    width: 100% !important;
    margin: 0 auto !important;
}
body.page-id-7 .upcoming_auctions div form div.input,
body.page-id-68 .upcoming_auctions div form div.input {
    display: inline-block;
    vertical-align: middle;
    width: 150px !important;
}

body.page-id-7 .upcoming_auctions div.subscribe_now form div.subscribe_submit,
body.page-id-68 .upcoming_auctions div.subscribe_now form div.subscribe_submit {
    margin-top: 30px !important;
}


/*IGNITE*/
.default-video-container {
    max-height: 450px;
}
.default_banner_text {
    top: 75px;
}
.default_banner_text  h1 {
    text-align: center;
}
.auction_contain {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}
.auctionList {
    width: 31% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    position: relative;
    margin-bottom: 50px;
        background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px !important;
}
div.auctionListing {
    border-radius: 0 !important;
}
div.auctionListingLeft {
    margin-top: 0 !important;
}
.auctionList:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)!important;
}
.auctionList .main_img img {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    border-radius: 0 !important;
}
div.auctionListingMiddle {
    position: absolute !important;
    bottom:0 !important;
    width: 100%;
    margin-left: auto !important; 
    margin-right: auto !important;
    padding: 10px 20px 10px !important;
        background-color: rgba(255, 255, 255, 1) !important;
}
div.auctionListingMiddle h1{
        font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 32px !important !important;
    letter-spacing: 1px;
    text-transform: capitalize !important;
    color: #282a2b !important;
    margin-bottom: 5px;
}
div.auctionListingMiddle h2{
        font-family: 'PF Encore Sans Pro Book' !important;
    font-size: 32px !important !important;
    letter-spacing: 1px;
    color: #282a2b !important;
    margin-bottom: 5px;
        -webkit-font-smoothing: antialiased;
        padding-top: 2px;
        padding-bottom: 10px;
}
div.auctionListingMiddle h2 a {
    color:#282a2b !important;
}
div.auctionListingMiddle span b {
    text-align: left !important;
    color:#282a2b !important;
    -webkit-font-smoothing: antialiased;
}
div.auctionListingMiddle a[title="Details"] {
    text-align: right !important;
    background-color: rgba(50, 50, 66, 0.9);
    color:#fff !important;
    padding: 12px;
    position: absolute;
    font-size: 12px !important;
    right: 10px;
    bottom: 20px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase !important;

}
div.auctionListingMiddle div {
    color:#282a2b !important;
    padding-top: 2px;
}
.bottomPagination {
    width: 100%;
    display: inline-block;
    clear: both;
    margin: 40px auto !important;
}


/*SINGLE-AUCTION*/
#hNavWrap {
    background: transparent !important;
    border-bottom: 0 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
}


/*CONTACT*/
.contact_banner_text {
    top: 150px;
}
.contact_banner_text h1{
    text-align: center;
    text-transform: uppercase !important;
}
.contact-video-container {
    max-height: 700px;
}
.contact_standard_contain {
      margin-top: -200px; 
}
.contact_section {
 
    margin-bottom: 100px;
        background-color: white;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: LatoWeb, Lato, "Noto Sans SC", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    border-radius: 5px;
    -z-index: 99999;
    padding: 25px;
    position: relative;
}
.contact_section_header {
    margin-bottom: 50px;
}
.contact_section h1{
    text-align: center;
    text-transform: uppercase;
}
.contact_section h1 span{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(45, 44, 44, 0.5);
}
.contact_section p{
    text-align: center;
    line-height: 1.5em;
    font-size: 20px;
}
.contact_section iframe {
    margin: 0 auto;
    text-transform: center;
}
.gform_wrapper {
    width: 50%;
    margin: 0 auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gform_wrapper .gfield_required {
    display: none;
}
.ginput_complex label {
    display: none !important;
}
.gform_wrapper h3.gform_title {
        color: #282a2b !important;
    font-family: 'PF Encore Sans Pro Book' !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.2em !important;
    letter-spacing: 1px;
}
input#advanced-search-widget-2-searchsubmit, input#gform_submit_button_2 {
    width: 100%;
}



/*RESPONSIVE*/

@media screen and (max-width: 1090px) {
    .logo_contain  {
        width: 260px;
    }
        body.home .master_slider {
        margin-bottom: 50px;
    }
    div.featured_text {
        width: 100%;
        float: none;
        margin:0 auto 50px;
    }
    div.featured_auctions {
        width: 100%;
        float: none;
        margin:0 auto;
    }
    body.home .upcoming_auctions .auction_holder {
        width: 100%;
        margin: 0 auto 10px;
    }
    .upcoming_auctions div.subscribe_now h2 {
        margin-top: 0 !important;
    }
     .upcoming_auctions .subscribe_now {
        text-align: center;
        margin-bottom: 50px !important;
     }
     .upcoming_auctions  .subscribe_submit {
        margin-top: 50px !important;
     }
     .test_section .wrapper {
        width: 90%;
     }
     .test_section h2 {
        float: none;
        margin-bottom: 20px;
     }
     .test_section h4 {
        float: none;
        margin-left: 0;
     }


     /*ABOUT PAGE*/
     .blue_message {
        width: 90%;
     }
     .blue_content {
        padding-top: 30px;
     }
}
@media screen and (max-width: 690px) {
    .standard_contain {
        width: 90%;
    }
    .logo_contain  {
        width: 220px;
        margin-bottom: 10px;
    }
    .more_offers .wrapper div {
        width: 100%;
        float: none;
    }
    .more_offers h2 {
        line-height: 1.25em !important;
    }
    footer {
        text-align: center;
    }
    .homepage-hero-module {
        margin-bottom: 30px;
    }
    .banner_text {
        top:0;
        width: 95%;
        text-align: center;

    }
    .banner_text h1 {
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .banner_text h4 {
        font-size: 18px !important; 
        margin-top: 5px !important;
         margin-bottom: 5px !important;
    }
    .banner_text h6 {
        width: 75%;
        margin: 10px auto;

        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .featured_in_list div {
        width: 70%;
        margin: 0 auto;
        float: none;
        padding: 10px;
    }
    .upcoming_auctions {
        margin-top: 10px;
    }
    .test_section img {
        width: 97%;
    }
    .subscribers input[type=submit] {
        width: 300px;
        margin-left: 0;
    }
    .featured_in_header h1 span {
        border-bottom: 0;
    }
    .news_posts {
        width: 100%;
    }


    /*ABOUT PAGE*/
    .blue_header img {
        width: 50px;
    }
    .blue_header h1 {
        font-size: 24px !important;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .blue_message {
        margin-top: 20px;
    }
    .blue_message p {
        font-size: 14px !important;
        letter-spacing: 1px;
        line-height: 1.25em;
    }
    .three_prong div {
        float: none;
        margin:0 auto 10px !important;
        width: 100%;
    }


    /*AUCTION PAGE*/
    .auctions_cats div {
        float: none;
        width: 100%;
        padding: 0;margin-bottom: 10px;
    }
    .auction_holder {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .auction_holder_contain .auction_detail h4 {
        font-size: 18px !important;
    }
    body.page-id-7 .upcoming_auctions {
        padding-top: 100px;
    }
        .auction_list {
        width: 100% !important;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    /*CONTACT PAGE*/
    .contact_standard_contain {
        margin-top: -100px;
    }
    body.page-id-72 .banner_text {
        top: 10px;
    }
    body.page-id-72 iframe {
        height: 200px;
    }
    .gform_wrapper {
        width: 100%;
    }
}