.woocommerce-msg a.button, .woocommerce-msg a.button:hover {display: inline; float: right; padding: 0; border: none; background: none; box-shadow: none; color: #8AB04F; font: 700 0.813em/1.5em "Arial",sans-serif; text-shadow: none; text-transform: none;}
.woocommerce-msg a.button:hover {color: #3f3f3f;}

a.go-top:hover {background-color: #747474;}
.searchform button {border: none; background: #fff url("../images/search.png") center center no-repeat;}