/* headers
---------------------------------*/
header.h1 nav.mainmenu {margin-top: 0;}
header.h1 nav.mainmenu>ul>li {padding-bottom: 15px; padding-top: 10px;}
header.h1 nav.mainmenu>ul>li:hover>a {padding-left: 20px; border-left-width: 0;}
header.h1 nav.mainmenu>ul>li.current-menu-item:hover, 
header.h1 nav.mainmenu>ul>li.current_page_item:hover,
header.h1 nav.mainmenu>ul>li.current-menu-ancestor:hover {padding-top: 10px; padding-bottom: 13px;}
header.h1 nav.mainmenu>ul>li:hover {height: 30px; padding-top: 0; margin-top: 0;}
header.h1 nav.mainmenu>ul>li:hover>a {padding-bottom: 2px;}
header.h1 nav.mainmenu>ul>li.current-menu-ancestor>a {padding-bottom: 0;}
header.h1 nav.mainmenu>ul>li>ul {top: 45px;}
header.h1 nav.mainmenu>ul>li.current-menu-item>ul, header.h1 nav.mainmenu>ul>li.current_page_item>ul {top: 45px;}
header.h1 nav.mainmenu > ul > li.current-menu-item:hover, 
header.h1 nav.mainmenu > ul > li.current_page_item:hover,
header.h1 nav.mainmenu > ul > li.current-menu-ancestor:hover {padding-top: 10px;} 

header.h2 nav.mainmenu>ul {padding-top: 0;}
header.h2 nav.mainmenu>ul>li {float: left; position: relative; height: 43px; margin: -2px 0 0; }
header.h2 nav.mainmenu>ul>li>a {float: left; height: 40px; padding: 0 19px; border-left: none; border-bottom: 3px solid transparent; color: #3f3f3f; font: 300 1.231em/40px "Signika",sans-serif; transition: all 0.4s ease-out 0s;}
header.h2 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h2 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f; background: #e6e6e6; color: #3f3f3f; transition: all 0.1s ease-out 0s;}
header.h2.sticky nav.mainmenu>ul>li:hover>a {background: transparent;}
header.h2 nav.mainmenu>ul>li.current-menu-item>a,
header.h2 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #ff8400; color: #3f3f3f;}
header.h2 nav.mainmenu>ul>li.current-menu-item:hover>a,
header.h2 nav.mainmenu>ul>li.current-menu-ancestor:hover>a {background: transparent; line-height: 40px;}
@media (min-width: 800px) {
	header.h2 nav.mainmenu {margin-top: 13px;}
}

header.h3 nav.mainmenu>ul {padding-top: 0;}
header.h3 nav.mainmenu>ul>li {float: left; position: relative; height: 45px; margin: 0 0 0; border-left: none;}
header.h3 nav.mainmenu>ul>li>a {float: left; height: 42px; padding: 0 19px; border-left: none; border-bottom: 3px solid transparent; color: #3f3f3f; font: 300 1.231em/40px "Signika",sans-serif; transition: color 0.25s ease 0s, background 0.25s ease 0s, border-bottom 0.25s ease 0s;}
header.h3 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h3 nav.mainmenu>ul>li.parent>a:after {display: block; position: absolute; left: 50%; bottom: 0; z-index: 50; width: 9px; height: 5px; margin-left: -4px; content: " ";}
header.h3 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f; background: #747474; color: #fff;}
header.h3 nav.mainmenu>ul>li.current-menu-item>a,
header.h3 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #d97000; background: #ff8400; color: #fff;}

header.h4 nav.mainmenu>ul {height: 42px; padding: 2px 0 0;}
header.h4 nav.mainmenu>ul>li {float: left; position: relative; height: 40px; margin: 0 0 0 0px; border: none;}
header.h4 nav.mainmenu>ul>li.parent:hover {background: url("../images/h4-gray-hover.png") 0% 32px no-repeat;}
header.h4 nav.mainmenu>ul>li>a {float: left; height: 32px; padding: 0 19px; border-left: none; border-bottom: none; color: #3f3f3f; font: 300 1.231em/32px "Signika",sans-serif;}
header.h4 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h4 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h4 nav.mainmenu>ul>li.current-menu-item>a,
header.h4 nav.mainmenu>ul>li.current-menu-ancestor>a {color: #fff; background: #ff8400 url("../images/h4-orange.png") 0% 32px no-repeat;}
header.h4 nav.mainmenu>ul>li.current-menu-ancestor,
header.h4 nav.mainmenu>ul>li.current-menu-ancestor:hover,
header.h4 nav.mainmenu>ul>li.current-menu-item.parent,
header.h4 nav.mainmenu>ul>li.current-menu-item.parent:hover {background: url("../images/h4-orange.png") 0% 32px no-repeat;}
header.h4 nav.mainmenu>ul ul {border-top: 3px solid #3f3f3f;}
header.h4 nav.mainmenu>ul ul ul {left: 100%; border-top: none;}

header.h5 {border-bottom: 3px solid #ff8400;}
header.h5 .top {background: #f5f5f5; color: #747474;}
header.h5 .top nav>ul>li>a {color: #747474;}
header.h5 .top nav>ul>li:hover>a, header.h5 .top nav>ul>li.current-menu-item>a {background: #e6e6e6; color: #747474;}
header.h5 nav.mainmenu {margin-top: 14px;}
header.h5 nav.mainmenu>ul {padding-top: 0;}
header.h5 nav.mainmenu>ul>li {float: left; position: relative; height: 42px; margin: -2px 0 0 2px; padding-bottom: 0; border: none;}
header.h5 nav.mainmenu>ul>li>a {float: left; height: 41px; padding: 0 19px; border-left: none; border-bottom: 1px solid #fff; border-radius: 3px 3px 0 0; background: #747474; color: #fff; font: 300 1.231em/42px "Signika",sans-serif; transition: all 0.4s ease-out 0s;}
header.h5 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h5 nav.mainmenu>ul>li:hover>a {border-bottom: 1px solid #3f3f3f; background: #3f3f3f; color: #fff; transition: all 0.1s ease-out 0s;}
header.h5 nav.mainmenu>ul>li.current-menu-item>a,
header.h5 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 1px solid #ff8400; background: #ff8400; color: #fff;}

header.h6 {border-bottom: 3px solid #ff8400;}
header.h6 nav.mainmenu {margin-top: 14px;}
header.h6 nav.mainmenu>ul {margin-bottom: -1px; padding-top: 0;}
header.h6 nav.mainmenu>ul>li {float: left; position: relative; height: 41px; margin: 0 0 0 2px; border: none;}
header.h6 nav.mainmenu>ul>li>a {float: left; height: 41px; padding: 0 19px; border-left: none; border-radius: 3px 3px 0 0; background: transparent; color: #3f3f3f; font: 300 1.231em/42px "Signika",sans-serif; -webkit-transition: all 0.25s ease 0s; -moz-transition: all 0.25s ease 0s; -ms-transition: all 0.25s ease 0s; -o-transition: all 0.25s ease 0s; transition: all 0.25s ease 0s;}
header.h6 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h6 nav.mainmenu>ul>li:hover>a {border-bottom: none; background: #3f3f3f; color: #fff;}
header.h6 nav.mainmenu>ul>li.current-menu-item>a,
header.h6 nav.mainmenu>ul>li.current-menu-ancestor>a {height: 41px; background: #ff8400; color: #fff;}

header.h7 nav.mainmenu>ul {height: 42px; padding: 2px 0 0;}
header.h7 nav.mainmenu>ul>li {float: left; position: relative; height: 40px; margin: 0 0 0 2px; border: none;}
header.h7 nav.mainmenu>ul>li>a {float: left; height: 32px; padding: 0 19px; border-left: none; border-bottom: none; border-radius: 16px; color: #3f3f3f; font: 300 1.231em/32px "Signika",sans-serif; transition: all 0.2s ease-out 0s !important;}
header.h7 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h7 nav.mainmenu>ul>li:hover>a,
header.h7 nav.mainmenu>ul>li.current-menu-item>a,
header.h7 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h7 nav.mainmenu>ul>li.parent:hover,
header.h7 nav.mainmenu>ul>li.current-menu-item.parent:hover,
header.h7 nav.mainmenu>ul>li.current-menu-ancestor:hover {background: url("../images/dropdown-arrow-orange.png") 50% 32px no-repeat;}
header.h7 nav.mainmenu>ul ul {border-top: 3px solid #3f3f3f;}
header.h7 nav.mainmenu>ul ul ul {left: 100%; border-top: none;}

header.h8 section.top {border-bottom: 1px solid #ebebeb; background: #f5f5f5; color: #747474;}
header.h8 section.top a {color: #3f3f3f;}
header.h8 section.top li:hover>a {background-color: #e6e6e6; color: #3f3f3f;}
header.h8 .main-header > div {overflow: hidden;}
header.h8 p.title strong {display: inline-block; margin-right: 10px;}
@media (max-width: 645px) {
	header.h8 p.title strong {display: block; margin-right: 0; text-align: center;}
}

header.h8 nav.mainmenu {clear: both; float: none; margin: 0; padding: 0 19px; background: #3f3f3f;}
header.h8 nav.mainmenu>ul {width: 100%; max-width: 940px; margin: 0 auto; padding: 0;}
header.h8 nav.mainmenu>ul>li {height: 40px; margin: 0; border: none; line-height: 40px;}
header.h8 nav.mainmenu>ul>li>a {height: 40px; border: none; color: #fff; line-height: 40px;}
header.h8 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h8 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
header.h8 nav.mainmenu>ul>li.current-menu-item>a,
header.h8 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h8 nav.mainmenu>ul ul li a {padding: 5px 15px; line-height: 1.75em;}
@media (max-width: 800px) {
	header.h8 nav.mainmenu {margin: 0; padding: 5px 20px;}
	header.h8 nav.mainmenu .select {width: 100%; margin: 0;}
}
@media (max-width: 645px) {
	header.h8 nav.mainmenu {margin: 10px 0 0; padding: 5px 20px;}
}

header.h9 section.top {border-bottom: 1px solid #ebebeb; background: #f5f5f5; color: #747474;}
header.h9 section.top a {color: #3f3f3f;}
header.h9 section.top li:hover>a {background-color: #e6e6e6; color: #3f3f3f;}
header.h9 .main-header > div {overflow: hidden;}
header.h9 p.title strong {display: inline-block; margin-right: 10px;}

@media (max-width: 645px) {
	header.h9 p.title strong {display: block; margin-right: 0; text-align: center;}
}
header.h9 nav.mainmenu {clear: both; float: none; margin: 0; padding: 0 19px; background: #3f3f3f;}
header.h9 nav.mainmenu>ul {width: 100%; max-width: 940px; margin: 0 auto; padding: 0;}
header.h9 nav.mainmenu>ul>li {height: 30px; margin: 0; padding: 5px 1px; border: none; line-height: 30px;}
header.h9 nav.mainmenu>ul>li>a {height: 30px; border-left: none; border: none; border-radius: 15px; color: #fff; line-height: 30px; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;}
header.h9 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h9 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h9 nav.mainmenu>ul>li.current-menu-item>a,
header.h9 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h9 nav.mainmenu>ul ul li a {padding: 5px 15px; line-height: 1.75em;}
@media (max-width: 800px) {
	header.h9 nav.mainmenu {margin: 0; padding: 5px 10px;}
	header.h9 nav.mainmenu .select {width: 100%; margin: 0;}
}
@media (max-width: 645px) {
	header.h8 nav.mainmenu {margin: 10px 0 0; padding: 5px 20px;}
}

header.h10 section.top {border-bottom: 1px solid #ebebeb; background: #f5f5f5; color: #747474;}
header.h10 section.top a {color: #3f3f3f;}
header.h10 section.top li:hover>a {background-color: #e6e6e6; color: #3f3f3f;}
header.h10 .main-header > div {overflow: hidden;}
header.h10 p.title strong {display: inline-block; margin-right: 10px;}
@media (max-width: 645px) {
	header.h10 p.title strong {display: block; margin-right: 0; text-align: center;}
}
header.h10 nav.mainmenu {clear: both; float: none; margin: 17px 0 0; padding: 0 19px; background: #3f3f3f;}
header.h10 nav.mainmenu>ul {width: 100%; max-width: 940px; margin: 0 auto; padding: 0;}
header.h10 nav.mainmenu>ul>li {height: 32px; margin: 0; padding: 3px 0 6px; border: none; line-height: 32px;}
header.h10 nav.mainmenu>ul>li>a {height: 32px; margin-top: -3px; padding-top: 3px; border: none; color: #fff; line-height: 32px;}
header.h10 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h10 nav.mainmenu>ul>li:hover>a {padding-bottom: 3px; border-bottom: 3px solid #a7a7a7; background: #747474; color: #fff;}
header.h10 nav.mainmenu>ul>li.current-menu-item>a,
header.h10 nav.mainmenu>ul>li.current-menu-ancestor>a {padding-bottom: 3px; border-bottom: 3px solid #ff8400; background: transparent; color: #fff;}
header.h10 nav.mainmenu>ul ul li a {padding: 5px 15px; line-height: 1.75em;}
header.h10 nav.mainmenu>ul>li>ul {margin-top: -3px; border-top: 3px solid #a7a7a7;}
@media (max-width: 800px) {
	header.h10 nav.mainmenu {margin: 10px 0 0; padding: 5px 20px;}
	header.h10 nav.mainmenu .select {width: 100%; margin: 0;}
}
@media (max-width: 645px) {
	header.h10 nav.mainmenu {margin: 10px 0 0; padding: 5px 20px;}
	header.h10 nav.mainmenu .select {margin: 0;}
}

@media (max-width: 800px) {
	header.h8 p.title,
	header.h9 p.title,
	header.h10 p.title {margin: 10px 0;}
	header.h8 p.title a,
	header.h9 p.title a,
	header.h10 p.title a {display: inline-block; vertical-align: bottom;}
	header.h8 p.title span,
	header.h9 p.title span,
	header.h10 p.title span {display: inline-block; vertical-align: bottom; margin: 0 0 5px 10px;}
}

header.h11 nav.mainmenu>ul {padding-top: 0;}
header.h11 nav.mainmenu>ul>li {float: left; position: relative; height: 33px; margin: -2px 0 0; padding-bottom: 10px; border-left: none;}
header.h11 nav.mainmenu>ul>li>a {float: left; height: 33px; padding: 0 20px; border-left: none; border-bottom: none; color: #3f3f3f; font: 300 1.231em/33px "Signika",sans-serif; transition-property: all; transition-duration: 0.3s;}
header.h11 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h11 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h11 nav.mainmenu>ul>li.current-menu-item>a,
header.h11 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h11 nav.mainmenu>ul>li>ul {margin-top: -10px;}

header.h12 nav.mainmenu {margin-top: 11px;}
header.h12 nav.mainmenu>ul {padding-top: 0;}
header.h12 nav.mainmenu>ul>li {float: left; position: relative; height: 43px; margin: 0; border-left: none;}
header.h12 nav.mainmenu>ul>li>a {float: left; height: 40px; padding: 0 19px; border-left: none; border-bottom: 3px solid transparent; color: #3f3f3f; font: 300 1.231em/40px "Signika",sans-serif; transition: all 0.4s ease-out 0s;}
header.h12 nav.mainmenu>ul>li>a:active {color: #3f3f3f;}
header.h12 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #3f3f3f; background: transparent; color: #3f3f3f; transition: all 0.1s ease-out 0s;}
header.h12 nav.mainmenu>ul>li.current-menu-item>a,
header.h12 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #ff8400; color: #3f3f3f;}
header.h12 nav.mainmenu>ul>li.current-menu-item:hover>a,
header.h12 nav.mainmenu>ul>li.current-menu-ancestor:hover>a {background: transparent; line-height: 40px;}

header.h13 nav.mainmenu>ul {height: 42px; padding: 2px 0 0;}
header.h13 nav.mainmenu>ul>li {float: left; position: relative; height: 40px; margin: 0 0 0 2px; border: none;}
header.h13 nav.mainmenu>ul>li.parent:hover {background: url("../images/dropdown-arrow-gray-hover.png") 50% 32px no-repeat;}
header.h13 nav.mainmenu>ul>li>a {float: left; height: 32px; padding: 0 19px; border-left: none; border-bottom: none; border-radius: 6px; color: #3f3f3f; font: 300 1.231em/32px "Signika",sans-serif; transition: all 0.15s linear 0s; text-transform: uppercase;}
header.h13 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h13 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h13 nav.mainmenu>ul>li.current-menu-item>a,
header.h13 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h13 nav.mainmenu>ul>li.current-menu-item.parent:hover, header.h13 nav.mainmenu>ul>li.current-menu-ancestor:hover {background: url("../images/dropdown-arrow-orange.png") 50% 32px no-repeat;}
header.h13 nav.mainmenu>ul ul {border-top: 3px solid #3f3f3f;}
header.h13 nav.mainmenu>ul ul ul {left: 100%; border-top: none;}

header.h14 nav.mainmenu>ul {height: 42px; padding: 2px 0 0;}
header.h14 nav.mainmenu>ul>li {float: left; position: relative; height: 40px; margin: 0 0 0 2px; border: none;}
header.h14 nav.mainmenu>ul>li.parent:hover {background: url("../images/dropdown-arrow-gray-hover.png") 50% 32px no-repeat;}
header.h14 nav.mainmenu>ul>li>a {float: left; height: 32px; padding: 0 19px; border-left: none; border-bottom: none; color: #3f3f3f; font: 300 1.231em/32px "Signika",sans-serif; transition: all 0.15s linear 0s;}
header.h14 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h14 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h14 nav.mainmenu>ul>li.current-menu-item>a,
header.h14 nav.mainmenu>ul>li.current-menu-ancestor>a {color: #fff; background: #ff8400 url("../images/dropdown-arrow-orange.png") 50% 32px no-repeat;}
header.h14 nav.mainmenu>ul>li.current-menu-ancestor.parent,
header.h14 nav.mainmenu>ul>li.current-menu-item.parent{background: url("../images/dropdown-arrow-orange.png") 50% 32px no-repeat;}
header.h14 nav.mainmenu>ul ul {border-top: 3px solid #3f3f3f;}
header.h14 nav.mainmenu>ul ul ul {left: 100%; border-top: none;}

header.h15:after, header.h15 .top>div:after {display: block; clear: both; overflow: hidden; height: 0; content: ' ';}
header.h15 .top {min-height: 42px; 	background: #3f3f3f;}
header.h15 .top p {line-height: 42px;}
header.h15>section.top nav>ul {min-height: 42px;}
header.h15>section.top nav>ul>li>a {min-height: 42px; color: #fff; line-height: 42px;}
header.h15>section.top nav>ul>li:hover>a {background-color: #555;}
header.h15>section.top nav>ul>li.current-menu-item>a,
header.h15>section.top nav>ul>li.current-menu-ancestor>a, 
header>section.top nav>ul>li.current-menu-item:hover>a,
header.h15>section.top nav>ul>li.current-menu-ancestor:hover>a, {color: #fff; background-color: #ff8400;}

header.h15 p.title {margin: 15px 0;}
header.h15 nav.mainmenu {margin-top: 23px; margin-bottom: 13px;}
header.h15 nav.mainmenu>ul {padding-top: 0;}

header.h15 nav.mainmenu>ul>li {float: left; position: relative; height: 33px; margin: -2px 0 0; padding-bottom: 10px; border-left: none;}
header.h15 nav.mainmenu>ul>li>a {float: left; height: 33px; padding: 0 20px; border-left: none; border-bottom: none; color: #3f3f3f; font: 300 1.231em/33px "Signika",sans-serif;}
header.h15 nav.mainmenu>ul>li:hover>a {background: #747474; color: #fff;}
header.h15 nav.mainmenu>ul>li>a:active {color: #ff8400;}
header.h15 nav.mainmenu>ul>li:hover>a:before {display: block; position: absolute; left: 0; bottom: 4px; width: 0; height: 0; border: 3px solid #747474; border-width: 4px 4px; border-bottom-color: transparent; border-right-color: transparent;}
header.h15 nav.mainmenu>ul>li.current-menu-item>a,
header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #ff8400; color: #fff;}
header.h15 nav.mainmenu>ul>li.current-menu-item>a:before,
header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a:before {display: block; position: absolute; left: 0; bottom: 4px; width: 0; height: 0; border: 3px solid #ff8400; border-width: 4px 4px; border-bottom-color: transparent; border-right-color: transparent; content: " ";}
header.h15 nav.mainmenu>ul>li>ul {margin-top: -3px; border-top: 3px solid #3f3f3f;}
header.h15 nav.mainmenu>ul>li.parent:hover, 
header.h15 nav.mainmenu>ul>li:hover {background: url("../images/h4-gray-hover.png") 0% 33px no-repeat;}
header.h15 nav.mainmenu>ul>li.current-menu-item, 
header.h15 nav.mainmenu>ul>li.current-menu-item.parent,
header.h15 nav.mainmenu>ul>li.current-menu-item.parent:hover,
header.h15 nav.mainmenu>ul>li.current-menu-ancestor {background: url("../images/h4-orange.png") 0% 33px no-repeat;}

header>section.top nav.social {padding: 9px 0 0;}
header>section.top nav.social>ul {height: auto; min-height: 24px; text-align: right;}
header>section.top nav.social>ul>li {margin-left: 8px; padding-bottom: 5px;}
header>section.top nav.social>ul>li>a {height: 24px; padding: 0; line-height: 24px; text-align: left; text-indent: -50em;}
header>section.top nav.social>ul>li:hover>a {background-color: transparent; background-image: url("../images/social.png");}

header.h1 .top .social a.email, 
header.h2 .top .social a.email, 
header.h3 .top .social a.email,
header.h4 .top .social a.email, 
header.h6 .top .social a.email, 
header.h7 .top .social a.email, 
header.h11 .top .social a.email, 
header.h12 .top .social a.email, 
header.h13 .top .social a.email, 
header.h14 .top .social a.email, 
header.h15 .top .social a.email {background-position: 0 -30px;}

header.h1 .top .social a.facebook, 
header.h2 .top .social a.facebook, 
header.h3 .top .social a.facebook,
header.h4 .top .social a.facebook, 
header.h6 .top .social a.facebook, 
header.h7 .top .social a.facebook, 
header.h11 .top .social a.facebook, 
header.h12 .top .social a.facebook, 
header.h13 .top .social a.facebook, 
header.h14 .top .social a.facebook, 
header.h15 .top .social a.facebook {background-position: -32px -30px;}

header.h1 .top .social a.twitter, 
header.h2 .top .social a.twitter, 
header.h3 .top .social a.twitter,
header.h4 .top .social a.twitter, 
header.h6 .top .social a.twitter, 
header.h7 .top .social a.twitter, 
header.h11 .top .social a.twitter, 
header.h12 .top .social a.twitter, 
header.h13 .top .social a.twitter, 
header.h14 .top .social a.twitter, 
header.h15 .top .social a.twitter {background-position: -64px -30px;}

header.h1 .top .social a.pinterest, 
header.h2 .top .social a.pinterest, 
header.h3 .top .social a.pinterest,
header.h4 .top .social a.pinterest, 
header.h6 .top .social a.pinterest, 
header.h7 .top .social a.pinterest, 
header.h11 .top .social a.pinterest, 
header.h12 .top .social a.pinterest, 
header.h13 .top .social a.pinterest, 
header.h14 .top .social a.pinterest, 
header.h15 .top .social a.pinterest {background-position: -96px -30px;}

header.h1 .top .social a.rss, 
header.h2 .top .social a.rss, 
header.h3 .top .social a.rss,
header.h4 .top .social a.rss, 
header.h6 .top .social a.rss, 
header.h7 .top .social a.rss, 
header.h11 .top .social a.rss, 
header.h12 .top .social a.rss, 
header.h13 .top .social a.rss, 
header.h14 .top .social a.rss, 
header.h15 .top .social a.rss {background-position: -128px -30px;}

header.h1 .top .social a.linkedin, 
header.h2 .top .social a.linkedin, 
header.h3 .top .social a.linkedin,
header.h4 .top .social a.linkedin, 
header.h6 .top .social a.linkedin, 
header.h7 .top .social a.linkedin, 
header.h11 .top .social a.linkedin, 
header.h12 .top .social a.linkedin, 
header.h13 .top .social a.linkedin, 
header.h14 .top .social a.linkedin, 
header.h15 .top .social a.linkedin {background-position: -160px -30px;}

header.h1 .top .social a.flickr, 
header.h2 .top .social a.flickr, 
header.h3 .top .social a.flickr,
header.h4 .top .social a.flickr, 
header.h6 .top .social a.flickr, 
header.h7 .top .social a.flickr, 
header.h11 .top .social a.flickr, 
header.h12 .top .social a.flickr, 
header.h13 .top .social a.flickr, 
header.h14 .top .social a.flickr, 
header.h15 .top .social a.flickr {background-position: -192px -30px;}

header.h1 .top .social a.vimeo, 
header.h2 .top .social a.vimeo, 
header.h3 .top .social a.vimeo,
header.h4 .top .social a.vimeo, 
header.h6 .top .social a.vimeo, 
header.h7 .top .social a.vimeo, 
header.h11 .top .social a.vimeo, 
header.h12 .top .social a.vimeo, 
header.h13 .top .social a.vimeo, 
header.h14 .top .social a.vimeo, 
header.h15 .top .social a.vimeo {background-position: -224px -30px;}

header.h1 .top .social a.blogger, 
header.h2 .top .social a.blogger, 
header.h3 .top .social a.blogger,
header.h4 .top .social a.blogger, 
header.h6 .top .social a.blogger, 
header.h7 .top .social a.blogger, 
header.h11 .top .social a.blogger, 
header.h12 .top .social a.blogger, 
header.h13 .top .social a.blogger, 
header.h14 .top .social a.blogger, 
header.h15 .top .social a.blogger {background-position: -256px -30px;}

header.h1 .top .social a.tumblr, 
header.h2 .top .social a.tumblr, 
header.h3 .top .social a.tumblr,
header.h4 .top .social a.tumblr, 
header.h6 .top .social a.tumblr, 
header.h7 .top .social a.tumblr, 
header.h11 .top .social a.tumblr, 
header.h12 .top .social a.tumblr, 
header.h13 .top .social a.tumblr, 
header.h14 .top .social a.tumblr, 
header.h15 .top .social a.tumblr {background-position: -288px -30px;}

header.h1 .top .social a.skype, 
header.h2 .top .social a.skype, 
header.h3 .top .social a.skype,
header.h4 .top .social a.skype, 
header.h6 .top .social a.skype, 
header.h7 .top .social a.skype, 
header.h11 .top .social a.skype, 
header.h12 .top .social a.skype, 
header.h13 .top .social a.skype, 
header.h14 .top .social a.skype, 
header.h15 .top .social a.skype {background-position: -320px -30px;}

header.h1 .top .social a.behance, 
header.h2 .top .social a.behance, 
header.h3 .top .social a.behance,
header.h4 .top .social a.behance, 
header.h6 .top .social a.behance, 
header.h7 .top .social a.behance, 
header.h11 .top .social a.behance, 
header.h12 .top .social a.behance, 
header.h13 .top .social a.behance, 
header.h14 .top .social a.behance, 
header.h15 .top .social a.behance {background-position: -352px -30px;}

header.h1 .top .social a.googleplus, 
header.h2 .top .social a.googleplus, 
header.h3 .top .social a.googleplus,
header.h4 .top .social a.googleplus, 
header.h6 .top .social a.googleplus, 
header.h7 .top .social a.googleplus, 
header.h11 .top .social a.googleplus, 
header.h12 .top .social a.googleplus, 
header.h13 .top .social a.googleplus, 
header.h14 .top .social a.googleplus, 
header.h15 .top .social a.googleplus {background-position: -384px -30px;}

header.h1 .top .social a.youtube, 
header.h2 .top .social a.youtube, 
header.h3 .top .social a.youtube,
header.h4 .top .social a.youtube, 
header.h6 .top .social a.youtube, 
header.h7 .top .social a.youtube, 
header.h11 .top .social a.youtube, 
header.h12 .top .social a.youtube, 
header.h13 .top .social a.youtube, 
header.h14 .top .social a.youtube, 
header.h15 .top .social a.youtube {background-position: -416px -30px;}

header.h1 .top .social a.dribble, 
header.h2 .top .social a.dribble, 
header.h3 .top .social a.dribble,
header.h4 .top .social a.dribble, 
header.h6 .top .social a.dribble, 
header.h7 .top .social a.dribble, 
header.h11 .top .social a.dribble, 
header.h12 .top .social a.dribble, 
header.h13 .top .social a.dribble, 
header.h14 .top .social a.dribble, 
header.h15 .top .social a.dribble {background-position: -448px -30px;}

header.h1 .top .social a.instagram, 
header.h2 .top .social a.instagram, 
header.h3 .top .social a.instagram,
header.h4 .top .social a.instagram, 
header.h6 .top .social a.instagram, 
header.h7 .top .social a.instagram, 
header.h11 .top .social a.instagram, 
header.h12 .top .social a.instagram, 
header.h13 .top .social a.instagram, 
header.h14 .top .social a.instagram, 
header.h15 .top .social a.instagram {background-position: -480px -30px;}

header.h1 .top .social a.picasa, 
header.h2 .top .social a.picasa, 
header.h3 .top .social a.picasa,
header.h4 .top .social a.picasa, 
header.h6 .top .social a.picasa, 
header.h7 .top .social a.picasa, 
header.h11 .top .social a.picasa, 
header.h12 .top .social a.picasa, 
header.h13 .top .social a.picasa, 
header.h14 .top .social a.picasa, 
header.h15 .top .social a.picasa {background-position: -512px -30px;}

header.h1 .top .social a.github, 
header.h2 .top .social a.github, 
header.h3 .top .social a.github,
header.h4 .top .social a.github, 
header.h6 .top .social a.github, 
header.h7 .top .social a.github, 
header.h11 .top .social a.github, 
header.h12 .top .social a.github, 
header.h13 .top .social a.github, 
header.h14 .top .social a.github, 
header.h15 .top .social a.github {background-position: -544px -30px;}

header.h1 .top .social a.stumbleupon, 
header.h2 .top .social a.stumbleupon, 
header.h3 .top .social a.stumbleupon,
header.h4 .top .social a.stumbleupon, 
header.h6 .top .social a.stumbleupon, 
header.h7 .top .social a.stumbleupon, 
header.h11 .top .social a.stumbleupon, 
header.h12 .top .social a.stumbleupon, 
header.h13 .top .social a.stumbleupon, 
header.h14 .top .social a.stumbleupon, 
header.h15 .top .social a.stumbleupon {background-position: -576px -30px;}

header.h1 .top .social a.lastfm, 
header.h2 .top .social a.lastfm, 
header.h3 .top .social a.lastfm,
header.h4 .top .social a.lastfm, 
header.h6 .top .social a.lastfm, 
header.h7 .top .social a.lastfm, 
header.h11 .top .social a.lastfm, 
header.h12 .top .social a.lastfm, 
header.h13 .top .social a.lastfm, 
header.h14 .top .social a.lastfm, 
header.h15 .top .social a.lastfm {background-position: -608px -30px;}

@media (max-width: 800px) {
	header>section.top nav.social>ul {text-align: center;}
	header.h15 .main-header {padding-top: 0; padding-bottom: 0;}
	header.h15 .top .searchform {margin: 8px 0 0;} 
	header.h15>section.top {padding: 0 20px;}
	header.h15 > section.top nav.social {width: auto;}
	header.h15 > section.top nav.social > ul {text-align: right;}

}

@media (max-width: 645px) {
	header.h15 .top {padding-bottom: 1px;}
}
@media (max-width: 620px) {
	header.h15 .top	{height: auto;}
	header.h15 .top .searchform {margin: 0 0 10px;}
	header.h15 > section.top nav.social > ul {display: inline-block;}
}

/* sticky headers */
@media (min-width: 801px) {
	header.sticky {position: fixed; top: -75px; left: 0; width: 100%;}
	header.sticky .main-header .social, header.sticky p.title>span, header.sticky form {display: none;}
	header.sticky p.title {margin: 0; line-height: 42px;}
	header.sticky p.title img {width: auto; height: auto;}	
	header.sticky p.title a {display: inline-block; vertical-align: middle; font-size: 2em;}

	header.h1.sticky p.title {margin: 0;}
	header.h1.sticky nav.mainmenu > ul > li:hover {margin-bottom: 0; margin-top: -1px;}
	header.h1.sticky nav.mainmenu > ul > li > a {margin-top: 2px;}
	header.h1.sticky nav.mainmenu > ul > li:hover > a {height: 37px; margin-top: 1px; padding-top: 3px; line-height: 38px;}
	header.h1.sticky nav.mainmenu>ul>li.current-menu-item:hover, 
	header.h1.sticky nav.mainmenu>ul>li.current_page_item:hover,
	header.h1.sticky nav.mainmenu>ul>li.current-menu-ancestor:hover {height: 20px; margin: -1px -1px 0 0; padding-top: 11px; padding-bottom: 12px;}
	header.h1.sticky nav.mainmenu>ul>li.current-menu-item:hover>a, 
	header.h1.sticky nav.mainmenu>ul>li.current_page_item:hover>a,
	header.h1.sticky nav.mainmenu>ul>li.current-menu-ancestor:hover>a {height: 20px; margin-top: 2px; padding: 0 19px 0; border-left: 1px solid #e3e3e3; background: none; border-bottom: none; line-height: 20px;}
	header.h1.sticky nav.mainmenu > ul > li > ul {top: 46px;}

	header.h2.sticky nav.mainmenu {margin-top: 5px;}
	header.h3.sticky nav.mainmenu {margin-top: 0;}
	header.h4.sticky nav.mainmenu {height: 36px; margin-top: 3px;}
	header.h5.sticky nav.mainmenu {margin-top: 4px;}
	header.h5.sticky nav.mainmenu>ul>li {margin-top: -2px;} 
	header.h6.sticky nav.mainmenu {margin-top: 4px;}
	header.h6.sticky nav.mainmenu>ul>li {margin-top: -2px;} 
	header.h7.sticky nav.mainmenu {height: 36px; margin-top: 3px;}

	header.h8.sticky nav.mainmenu, header.h9.sticky nav.mainmenu, header.h10.sticky nav.mainmenu {margin: 0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);}
	header.h8.sticky section.top, header.h9.sticky section.top, header.h10.sticky section.top {border: none;}
	header.h8.sticky .main-header-wrapper, header.h9.sticky .main-header-wrapper, header.h10.sticky .main-header-wrapper {display: none;}

	header.h11.sticky nav.mainmenu {height: 36px; margin-top: 8px;}
	header.h12.sticky nav.mainmenu {margin-top: 2px;}
	header.h13.sticky nav.mainmenu {height: 36px; margin-top: 3px;}
	header.h14.sticky nav.mainmenu {height: 36px; margin-top: 3px;}

	header.h15.sticky:after {display: block; clear: both; overflow: hidden; height: 0; content: ' ';}
	header.h15.sticky .top {min-height: 30px;}
	header.h15.sticky .top p {line-height: 30px;}
	header.h15.sticky nav.mainmenu {margin-top: 6px; margin-bottom: 0;}
	header.h15.sticky section.top nav > ul > li > a {height: 30px; line-height: 30px;}
	header.h15.sticky section.top form {margin-top: 2px;}
	header.h15.sticky p.title {margin: 5px 0;}

	header.sticky .top.with-social {min-height: 40px;}
	header.sticky .top.with-social p {line-height: 40px;}

	header.sticky.no-topbar .top {display: none;}
}

@media (min-width: 801px) and (max-width: 1000px) {
	header.sticky {
		margin-left: 0;	margin-right: 0;
	}
}

@media (min-width: 1000px) {
	.boxed header.sticky {width: 100%; max-width: 1000px; left: 50%; margin-left: -500px;}
}

@media (min-width: 801px) {
	header.sticky {position: fixed; top: -75px; left: 0; width: 100%; margin: 0;}
}
